[2017-12-21 10:51] Martii opened #1 "Q: Drop shadows..."
Hey there... had a question about some work you did a while back.

The icon at [/uracreative/works/blob/`d019c35`/QupZilla/SVG/icon-color.svg](https://github.com/uracreative/works/blob/d019c359c231e88b371e308b5cd721960bb3ad6b/QupZilla/SVG/icon-color.svg) shows a drop shadow in the vector editor I loaded it into briefly however every browser on every platform doesn't seem to show it.

Did I miss th

[2017-12-23 14:51] AnXh3L0 commented on #1
Hello @Martii. I checked the icon you mentioned above and yes, it shows a drop shadow in the editor because that's how the logo is supposed to be. Apparently browsers don't play with it nicely.

[2018-03-19 12:46] #1 closed

[2018-03-19 12:49] elioqoshi opened #2 "Enigmail New Logo"
I talked with Patrick, the developer of Enigmail about potential design improvements of Enigmail. We agreed on starting off with the redesign of the logo. In the following are proposals of mine for the new enigmail logo:

![image](https://user-images.githubusercontent.com/5436686/37596350-2e141b02-2b7c-11e8-9a21-ebdfabfe4297.png)

[2018-03-19 12:58] elioqoshi commented on #2
An alternative with solid icon instead of stroked:
![image](https://user-images.githubusercontent.com/5436686/37596742-7169e58e-2b7d-11e8-82f5-71ee7dfe1061.png)

Font used is Fira Sans Medium, which should make consistency with Mozilla and Thunderbird better

[2018-03-19 13:56] elioqoshi commented on #2
New icons proposed:

![image](https://user-images.githubusercontent.com/5436686/37599737-b9827720-2b85-11e8-8602-652de046e25e.png)

[2018-03-23 20:22] elioqoshi opened #3 "Remmina Logo and Icons Redesign"
From the Open Source Design job board:
https://github.com/opensourcedesign/jobs/pull/304#issuecomment-375362119

[2018-03-23 21:59] elioqoshi opened #4 "Open Humans Logo and Visual Identity"
We are working on the new Visual Identity for Open Humans:
http://openhumans.org/

Currently proposals are up on Identihub (updated from time to time)
https://demo.identihub.co/project/openhumans

We are currently doing feedback rounds to decide on a logo. Will update once there is progress.

[2018-04-02 15:34] pbrunschwig commented on #2
First of all sorry for the delay -- I was really really busy with the Enigmail 2.0 release.

I like the logo & icons very much.

**Logo:**
- I prefer the "alternative" logo - blue foreground with filled lock. I just think that the clamp (I'm not sure if that's the right term) is a little bit too thick.
- Furthermore, the blue color should better match the blue color on the top part of Enigmail web

[2018-04-04 20:44] elioqoshi commented on #2
@pbrunschwig thanks for the feedback.

I adapted the logos based on your feedback. The clamp is a bit thinner now. I would advise not to make it thinner than that as it would be unbalanced with the other part of the icon and would not look good on smaller sizes.

![image](https://user-images.githubusercontent.com/5436686/38333730-bbd42cf4-3859-11e8-8eb4-af28e6b3d30d.png)

[2018-04-05 06:31] pbrunschwig commented on #2
Great thanks -- I think we can go for this :-)

Would you recommend to put the white on blue icon on the web site and use the blue on white version elsewhere, or is it better to use the identical icon everywhere?

[2018-04-05 08:26] elioqoshi commented on #2
![image](https://user-images.githubusercontent.com/5436686/38354951-af243500-38bb-11e8-9e0e-60d8b35341a2.png)

First step would be updating the logo on the website as it is, but I hope that we get the chance to redesign the website as well :)

[2018-04-05 16:06] pbrunschwig commented on #2
Yes, that's what I meant ;-) And yes, we can talk about re-designing the web site. It's on Joomla, and I used the free Purity III theme (which is quite OK for a start).

Do you have the logos and icons as SVG?

[2018-04-05 16:42] elioqoshi commented on #2
We will update the icons with the new lock and export them by tomorrow and let you know.

[2018-04-06 21:55] antenore commented on #3
This is not to push nor to stress, we are preparing a new release and we were wondering if we will have something to work on before that moment or not.

Really no stress at all, just curious.

Thanks!

[2018-04-06 22:11] elioqoshi commented on #3
Thanks for the ping @antenore this slipped a bit behind. You will have a few logo proposals by Sunday :)

[2018-04-06 22:17] antenore commented on #3
No rush! Thanks for the reply

[2018-04-07 11:02] elioqoshi commented on #2
@pbrunschwig they are ready here:
https://demo.identihub.co/project/enigmail/

Soon uploading them also to our repo

[2018-04-07 11:24] antenore commented on #3
They're really good, but we'd would prefer logo letter working on the original R, or around that theme.

[2018-04-07 11:57] elioqoshi commented on #3
Why didn't you specify that before? You said that you'd be open to a redesign. If this was clear in the beginning we wouldn't need to go back and forth.

[2018-04-07 12:06] elioqoshi commented on #3
What about these?

![image](https://user-images.githubusercontent.com/5436686/38454743-e9f441b8-3a6c-11e8-9b16-e75f41058c6c.png)

[2018-04-07 12:38] antenore commented on #3
Sorry for this. Let me see with the other members, I'm not alone. Personally I prefer the second one.
I'm fine with a redesign, but the first attempt wasn't inspiring me.

[2018-04-07 15:51] pbrunschwig commented on #2
Great, many thanks!!

[2018-04-08 12:13] elioqoshi commented on #2
@pbrunschwig here also in the repo :)
https://github.com/uracreative/works/tree/master/Enigmail

Let me know if you want any license file in the folder for the things. Consider the rights of the work transferred to you. Please note that some of the icons (pencil and attachment) are based on Material Design icons licensed under Apache License Version 2.0:
https://github.com/google/material-design-i

[2018-04-08 13:25] pbrunschwig commented on #2
Thanks! The web site is under the Creative Commons Attribution-ShareAlike License.

Yes, I noticed it too and fixed it.

I did create a 128x128 favicon, but somehow it's not picked up. If you have any idea why, I'd be grateful for tips.

[2018-04-09 12:47] antenore commented on #3
Would it be possible to have the second green and blue in SVG so that we can try to replace the original one here:

https://github.com/FreeRDP/Remmina/blob/next/remmina/desktop/scalable/apps/remmina.svg

Without seeing it in action we are not able to "imagine" it

cc @ic3d @giox069

[2018-04-09 13:42] elioqoshi commented on #3
A logo needs to look good and get the message across on more mediums than the website, but that's how it would be currently:

![image](https://user-images.githubusercontent.com/5436686/38501159-9c5d34cc-3c0c-11e8-9ee6-3bdd05e7def0.png)

[2018-04-09 13:44] elioqoshi commented on #3
SVG here:
https://demo.identihub.co/project/remmina

[2018-04-09 14:46] antenore commented on #3
Thanks.

Well, as we are speaking about a desktop application, it matters really a lot for us to see it where is more used.

![image](https://user-images.githubusercontent.com/5975/38504616-6ba25fb6-3c15-11e8-8eec-f2734dbb4317.png)

Personally I like it, but I wait for the comments of my mates.

[2018-04-09 19:25] antenore commented on #3
They both confirm for this one I've tested :-)
Looks really nice

[2018-04-10 07:55] elioqoshi commented on #3
Let me know if you want to go ahead with that. :)

[2018-04-10 09:58] antenore commented on #3
Yes absolutely.

We are that kind of people that have an hard time to become habit to the changes, but now we have passed that initial obstacle, and we love it, you can go ahead.

Thank you.

[2018-04-10 11:01] elioqoshi commented on #3
Solid! Will export the logo for you then. Continuing on the icons next.

[2018-04-10 11:02] elioqoshi commented on #3
@AnXh3L0 can you push them to the repo?

[2018-04-10 15:31] AnXh3L0 commented on #3
Sure, they are now online at the repo, [here](https://github.com/uracreative/works/tree/master/Remmina).

[2018-05-10 06:15] elioqoshi commented on #3
@antenore are you happy with the logo? Is that wrapped up?

[2018-05-10 08:07] antenore commented on #3
@elioqoshi yes I'm happy thank you, but it's not yet in the source code because I want to do everything in one shot with the icons.

CC @giox069

[2018-05-11 08:11] antenore commented on #3
@elioqoshi I'll be far few days, so I won't answer till Monday or Tuesday.

Before to expose the new logo we really want to have   the icon as well.

So we will wait you.

Soon there will be a new release, if you think you can do it we can wait.

Than we should also discuss about the cost. Can you contact me by email? My nickname At simbiosi.org

[2018-05-11 09:43] elioqoshi commented on #3
I will continue with the icons and get back, sounds good

[2018-05-31 16:12] AnXh3L0 commented on #3
Hello @antenore,
We have prepared the icons, check the image below
![icons_remmina](https://user-images.githubusercontent.com/25004151/40793979-2fc6d672-64fe-11e8-9d75-147770c092a8.jpg)

[2018-05-31 16:47] elioqoshi commented on #3
Feedback appreciated. Please note that the icons are color independent so that depends on the UI where they will be

[2018-05-31 17:32] antenore commented on #3
Thanks! We're discussing between us.
I'll be back as soon as possible

[2018-06-01 08:47] elioqoshi commented on #3
Sure. We are making small tweaks to the icons so a general feeling would be enough to see if we can move on :)

[2018-06-01 10:21] antenore commented on #3
In general we like it, but we really need the icons so that we try on the UI.

Personally I'd prefere a different icon for the rdp protocol, we don't want it looks like the Remmina logo. It should remember somehow the Microsoft logo.

For the budget it s in my original request but I prefer we discuss this privately.

[2018-06-01 10:31] antenore commented on #3
My email is my name @simbiosi.org

[2018-06-02 07:56] elioqoshi commented on #3
@antenore Makes sense

Although the icons should be color agnostic and they can be dynamically changed in the UI I hope.

@AnXh3L0 can you do necessary changes?

[2018-06-02 08:27] antenore commented on #3
@elioqoshi @AnXh3L0 just change the shape. No colours is fine.
Thanks

[2018-06-02 08:32] antenore commented on #3
Even an 'M$' what do you think? :-D

[2018-06-02 08:57] AnXh3L0 commented on #3
I have made the changes you suggested @antenore and added the icons as svg in the zip below so you can test them in the UI.
[Icons_Remmina.zip](https://github.com/uracreative/works/files/2064821/Icons_Remmina.zip)

[2018-06-02 09:03] antenore commented on #3
Thanks! Today I'm not sure I'll be able to take a look, I'm out the whole day.
I'll let you know. Thanks!

[2018-06-02 09:27] antenore commented on #3
Really gorgeous :-)

[2018-06-02 12:47] AnXh3L0 opened #5 "phpList Powered by button"
We have been working on some new buttons for the phpList "Powered by" button that sits on the footer of the emails sent using phpList.

Some drafts are as seen below in the screenshots, for both horizontal and vertical buttons and light/dark backgrounds.

![phplist_buttons](https://user-images.githubusercontent.com/25004151/40874767-c3f0bf90-6673-11e8-9baa-1ba1fc0d47b2.png)

Feedback appreciated :

[2018-06-02 13:29] elioqoshi commented on #5
Thanks @AnXh3L0 !
I'm not convinced of the spacing of the elements and the corner radius. For the latter, I'd suggest something similar to a Google Play badge corner radius
I'd like to give this a go with some other alternative options as well.

These are my directions:

![image](https://user-images.githubusercontent.com/5436686/40876496-b3b13cee-6679-11e8-99e8-ac089ebc3b14.png)

[2018-06-02 13:58] elioqoshi commented on #5
Also for darker backgrounds:
![image](https://user-images.githubusercontent.com/5436686/40877249-c68053f6-667d-11e8-895c-2a1da6bc14b7.png)

[2018-06-02 21:13] antenore commented on #3
@AnXh3L0
How am I supposed to use this SVG? Sorry but I'm far to be even a n00b in these stuff.
I hope I don't have to cut&paste each icon in a new file!?!?

[2018-06-02 21:43] AnXh3L0 commented on #3
Hi @antenore,

Sorry about that, here are all the icons separated as SVG for you ready to use.
[icons.zip](https://github.com/uracreative/works/files/2065411/icons.zip)

[2018-06-02 22:00] antenore commented on #3
Thank you @AnXh3L0 !

[2018-06-02 23:43] antenore commented on #3
So here we are...

First of all, good job!!

![new_icons_default_theme](https://user-images.githubusercontent.com/5975/40881600-2b8bad48-66cb-11e8-9b31-2c42ad6a824f.png)
![new_icons_high_contrast_theme](https://user-images.githubusercontent.com/5975/40881601-2ba99d9e-66cb-11e8-8ceb-48c0c5a8050f.png)

These are 2 tests with a quite default icons theme and one with an high contrast one.
Personally I

[2018-06-03 09:19] elioqoshi commented on #3
Thanks @antenore!
I suppose it would be best if all icons are in the same style. @AnXh3L0 can you ensure to put all icons into square boundaries so the margins are consistent across them? They are currently not in the screenshot

[2018-06-03 09:31] AnXh3L0 commented on #3
Can you try the new ones below? I made them square so they should all look consistent.
[icons square.zip](https://github.com/uracreative/works/files/2065827/icons.square.zip)

[2018-06-03 09:54] antenore commented on #3
Thanks @AnXh3L0 I'll have a look tomorrow.

[2018-06-04 07:34] antenore commented on #3
Size are good now :-) thanks.
One more request, can you also add "spice over ssh"?
Than I really need some days so that everybody will have the time to test and let us know what they think.

@elioqoshi don't forget to contact me by email. ;-)

[2018-06-04 07:41] elioqoshi commented on #3
@antenore @AnXh3L0 reached out to you via email already

[2018-06-04 08:05] antenore commented on #3
@elioqoshi @AnXh3L0 it's strange I didn't get any email I took a look also on the server there is nothing filtered. let's try @gmail.com could be some blacklist on my or on your side.

[2018-06-04 10:49] samtuke commented on #5
Another example of where the image will be used - in this case in the footer of a random email campaign message
![selection_430](https://user-images.githubusercontent.com/695422/40913694-a8e6124e-67f5-11e8-9a51-6c13d44d77e3.png)

[2018-06-04 10:55] samtuke commented on #5
When the latest draft buttons are scaled to a similar size to the existing image that is being replaced, they look like this
![tmp png](https://user-images.githubusercontent.com/695422/40913753-d9d892f0-67f5-11e8-8334-3966adb4fd99.png)
Size is very important -- the button is an inconvenience to some phpList users and the size should be as unobtrusive as possible, while conveying the message with c

[2018-06-04 11:19] elioqoshi commented on #5
Thanks for the feedback @samtuke!

I probably thought it would not be appropriate to change the logo elements position to each other but then again I was not sure what would be fine and what not (maybe a style guide in the future would be helpful in that regard.

In any case, I agree with your direction. Here is the button I'd suggest (tested on various backgrounds in small sizes). Font weight and

[2018-06-04 12:19] samtuke commented on #5
Looking good. How is it with a white background?

[2018-06-04 12:26] elioqoshi commented on #5
@samtuke for the button itself you mean?

There you go:
![image](https://user-images.githubusercontent.com/5436686/40917375-541627e6-6803-11e8-869b-d51e15a259e3.png)

[2018-06-04 12:28] elioqoshi commented on #5
Can do some slight tweaks to increase readability a bit more as well

[2018-06-04 12:32] samtuke commented on #5
Yes the tweaks would be good, thanks

[2018-06-04 12:35] AnXh3L0 commented on #3
Hi @antenore,

I resent the email to you at gmail. Below you have the spice over ssh icon.
[spice over ssh icon.zip](https://github.com/uracreative/works/files/2068208/spice.over.ssh.icon.zip)

[2018-06-04 13:42] elioqoshi commented on #5
@samtuke there we go. Slightly better now

![image](https://user-images.githubusercontent.com/5436686/40920813-ef50ea2a-680d-11e8-9b53-a256cda012fa.png)

[2018-06-04 15:42] samtuke commented on #5
Nice! How about removing the line between 'powered by' and the logo? That was requested by two phpList team members.

[2018-06-04 15:52] antenore commented on #3
@elioqoshi @AnXh3L0 I'm going to update the remmina_about.glade to add your names as contributor, what do you want I write as you mail?

https://github.com/FreeRDP/Remmina/blob/master/data/ui/remmina_about.glade#L158

[2018-06-04 15:53] AnXh3L0 commented on #3
Hey @antenore, you can add my email as anxhelo @ lushka dot al. Thanks!

[2018-06-04 16:08] elioqoshi commented on #5
I have a slight preference for the one with the line but it's no major gamechanger I'd say:

![image](https://user-images.githubusercontent.com/5436686/40928623-518a5244-6822-11e8-9794-9b77504da31a.png)

[2018-06-05 17:52] elioqoshi commented on #3
@antenore we would prefer to credit Ura Design in general as we think a collective of people is a stronger concept than any individual :) A credit is not required though, all the rights to the works are yours (we have to clarify the licensing from the icons which are Material Design based though)

[2018-06-05 18:06] antenore commented on #3
I'll add it.

For the license let me know.

Thanks

On June 5, 2018 5:52:35 PM UTC, Elio Qoshi <notifications@github.com> wrote:

[2018-06-06 18:50] elioqoshi commented on #5
Here are the buttons on a newsletter footer to put things into perspective. Also slightly lowered the version without a line to have more balance. @samtuke I will gather thoughts from a group of people and get back to this once I get the chance. In the meantime have a look:

![phplist_buttons-01](https://user-images.githubusercontent.com/5436686/41058807-0880fabc-69cb-11e8-8ef1-fb918b97a229.png)
!

[2018-06-08 19:28] antenore commented on #3
Hi all. Sorry to come back regarding the icons, but have a little problem.

I've switched the way I use the icons, setting them as symbolic icons.
This is to allow the Gnome/Gtk+ theme engine to adapt the colors based on the active theme.

With the toolbar icons everything works perfectly, but with the protocol icons not.

These are the rendered protocol icons and as you can see the RDP one is jus

[2018-06-08 19:56] antenore commented on #3
Ah! I've got it!

I'm uploading the updated file.

[2018-06-08 20:04] antenore commented on #3
[remmina-rdp.zip](https://github.com/uracreative/works/files/2085861/remmina-rdp.zip)

The four squares where placed above a full/filled circle (and lock in the second one).

So I've reduced the alpha of the squares till 0, selected all the path and executed a difference, to have only one shape with the transparent squares.

[This](https://graphicdesign.stackexchange.com/questions/20196/using-the-

[2018-06-18 10:41] elioqoshi opened #6 "Debian Buster Artwork"
Debian is calling for artwork submissions for the Buster cycle. We should submit something:
https://lists.debian.org/debian-devel-announce/2018/06/msg00003.html

[2018-06-18 11:06] rskikuli commented on #5
@elioqoshi I personally like the version without the line. The button designs are small and there is not a lot of space to add more elements such as a line.

[2018-06-18 13:14] elioqoshi commented on #5
@rskikuli A line has literally a minimum amount of width, so I don't see why there might not be space. The line is very subtle and isolates the logo on its own, creating more structured hierarchy and making it absolutely clear that the phplist Logo and "Powered by" are separate.

[2018-06-24 09:09] elioqoshi opened #7 "Open Source Design Summit 2018 Website"
Tracked here: https://github.com/opensourcedesign/organization/issues/107

@elioqoshi designing the site
@AnXh3L0 implementing

[2018-06-24 09:12] elioqoshi commented on #5
@samtuke as said, among our team there are 4 who prefer the one with the line and 3 the one without. It's a pretty close result so you probably have the final call :)

Let us know what deliverables we should send.

[2018-06-24 09:12] #2 closed

[2018-06-24 09:13] #3 closed

[2018-06-25 16:44] samtuke commented on #5
@elioqoshi We had a vote and it was 3-2 against the line. So no-line versions in black and white please!

[2018-06-27 20:34] AnXh3L0 commented on #5
Hi @samtuke,
You can find the uploaded files on our works repo, [here](https://github.com/uracreative/works/tree/master/phpList/Buttons).

[2018-06-28 08:00] elioqoshi commented on #5
Thanks @AnXh3L0! Guess we can close this. @samtuke let us know if any tweak is needed.

[2018-07-02 16:28] samtuke commented on #5
Thanks guys. How come the 'Powered by' text is bold and centered in the [last preview](https://github.com/uracreative/works/issues/5#issuecomment-395175194) but not in the repo? Can we have the previous styling back? 🙏

[2018-07-02 16:30] elioqoshi commented on #5
Investigating what went wrong in the Export @sam, sorry about that!

[2018-07-02 18:08] samtuke commented on #5
Thanks @elioqoshi

[2018-07-05 11:18] AnXh3L0 commented on #5
@samtuke the repo has been updated with the new files.

[2018-07-05 16:23] elioqoshi commented on #5
@samtuke Please confirm whether they are fine now :)

[2018-07-06 13:14] samtuke commented on #5
@AnXh3L0 @elioqoshi Thanks for updating them! Comparing the original [approved drafts](https://github.com/uracreative/works/issues/5#issuecomment-395175194) with the current exports, the spacing of the 'powered by text' is different -- there appears to be more of a vertical gap between 'powered by' and the logo. Do you see the difference?
![powered-by-drafts](https://user-images.githubusercontent.

[2018-07-06 13:16] elioqoshi commented on #5
Sorry for the mess, we probably didn't track changes properly. Checking

[2018-07-07 11:02] elioqoshi commented on #5
@samtuke Seems there was some compatibility issue with Inkscape so I re-exported them via Illustrator.
Here you go: https://github.com/uracreative/works/tree/master/phpList/Buttons

If this is okay, we can remove any useless metadata from the SVG and sanitize it.

[2018-07-09 17:07] rskikuli commented on #5
@samtuke I would propose to also change the logo here https://uradesign.hosted.phplist.com/lists/ ans also to all the other subscription pages you  manage when this process is over.

[2018-07-09 17:35] samtuke commented on #5
@rskikuli Exactly - that's the plan

[2018-07-09 17:37] samtuke commented on #5
@elioqoshi Thanks I will review ASAP. Getting over a bout of flu, so the process is a little delayed.

[2018-07-09 18:42] elioqoshi commented on #5
@samtuke Sure, get well soon!

[2018-07-11 08:44] elioqoshi commented on #4
This has been wrapped up. @AnXh3L0 could you please add the final logo files to the repo here?

Assets on our Identihub Test instance:
https://test.identihub.co/project/open-humans

[2018-07-11 09:03] elioqoshi opened #8 "SecureDrop Style Guide"
As part of OTF Usability Lab, we are implementing a live style guide for SecureDrop, featuring the new brand guidelines, tone of voice and web components based on the new website.

The repo for the work is on: https://github.com/uracreative/securedrop-styleguide

The live site is currently on GitHub pages:
https://uracreative.github.io/securedrop-styleguide/

[2018-07-11 09:09] elioqoshi opened #9 "I2P Usability Testing"
@RenataGegaj Will be doing Usability Testing for I2P clients as part of the Usability Lab. Windows and Linux clients will be prioritized. @RenataGegaj please document your process and progress here so we can track it in the open as well. @marianaballa will be able to help with anything needed for the Usability Testing sessions

[2018-07-11 09:15] elioqoshi opened #10 "I2P Style Guide"
Based on the same system we created Style Guides for Reproducible Builds and SecureDrop, we will implement a Style Guide for I2P as part of the OTF Usability Lab.

It should include the usual components tailored for I2P.

@LuisTepshi can you start setting up a repo with the same architecture we got from Reproducible Builds as a base? GitHub pages here should work. @AnXh3L0 can assist when needed.

[2018-07-11 09:49] elioqoshi opened #11 "SDR Makerspace WordPress Site Theme Customization"
Based on the brand identity for the SDR Makerspace we need to customize the website theme to match the identity we created:
http://sdrmaker.space/

SDR Makerspace on Identihub:
https://demo.identihub.co/project/esa-sdr-makerspace

[2018-07-11 10:01] elioqoshi commented on #6
Too much stuff on our plates, I don't think we have time for this.

[2018-07-11 10:01] #6 closed

[2018-07-11 10:32] elioqoshi opened #12 "Briar UX & User Testing"
We are working in the next months with Briar on their next release as part of the OTF grant. Details here:
https://code.briarproject.org/briar/briar/boards

Anything tagged UX and Usability needs input from our end. Please track any major milestones or blockers here. Project coordination happens on the Briar GitLab and Mattermost. @rskikuli please keep track of project progress so we are on time f

[2018-07-11 11:03] elioqoshi opened #13 "Rust Latam Conference Visual Identity"
We will be helping the Rust Latam Conference with Visual Identity. For this, Ura will be a sponsor of the conference.

We need to deliver the usual deliverables:

- Word mark
- Icon
- Icon + Word mark = logo
- Colours
- Fonts

Additionally, we should cater to create at least:

- A2 Poster
- T-Shirt
- Badge & Lanyards
- Twitter Banner
- Facebook Banner
- Social Media Avatar

Brief (from @barrosgera

[2018-07-11 14:45] spastorino commented on #13
Hey, thanks for helping us with this :). Feel free to ping any of us if you need some info.

[2018-07-11 15:35] elioqoshi commented on #13
@spastorino sure!

Here are some logo proposals beforehand:

![image](https://user-images.githubusercontent.com/5436686/42583139-b933317e-8530-11e8-8007-5ec8ffa6cd16.png)

![image](https://user-images.githubusercontent.com/5436686/42583205-cae95ab0-8530-11e8-9d1c-e4862bc946ec.png)

[2018-07-11 15:43] elioqoshi commented on #4
@madprime there you go! Closing this. For anything else feel free to ping us. :)

[2018-07-11 16:29] AnXh3L0 commented on #11
What is specifically needed here? Editing the current WordPress theme to match the colors that are being used in the identity?

[2018-07-11 16:54] elioqoshi commented on #11
Yeah but there is still no content on the site so let's wait for further details

[2018-07-11 18:49] spastorino commented on #13
It's cool, BUT ...

1. The map is only including South America, you should go up and include Central America and Mexico.
2. The colors in the map make me think just in Brazil, which is also a huge country in South America, so it could feel just as a brazilian thing :).

[2018-07-12 10:37] elioqoshi opened #14 "SustainOSS Brand Support & Redesign"
We are helping SustainOSS ( https://sustainoss.org ) with support to refresh their brand system and unify their messaging behind a single mission.

[2018-07-12 10:38] elioqoshi commented on #14
For this we are starting with a Brand System to address the first issues.

SustainOSS Phase 6: Brand System
+++++++++++++++++++++++++++++

Observations:
-------------------

    SustainOSS has inconsistent branding across mediums

    In more official mediums referred to as SustainOSS, in more casual mediums and verbal communication as Sustain. People avoid pronouncing the OSS after Sustain becaus

[2018-07-12 12:12] elioqoshi commented on #14
Please note that this is an introduction to the work we propose to do so we can discuss it in the call today.

[2018-07-13 06:10] sebasmagri commented on #13
Hi!

First of all I'd also like to thank you for helping us with this!

I share the opinion from @spastorino though in that Latin America is astoundingly diverse and we'd like that to be reflected in the conference branding. Besides the observation to include Central America, Mexico, and to the possible extent also the Caribbean, I'd like to remind you to check out the previous work that Geraldo s

[2018-07-13 06:13] sebasmagri commented on #13
Please take a look at [this map](https://en.wikipedia.org/wiki/Latin_America#/media/File:Latin_America_(orthographic_projection).svg) of what's _officially_ part of Latin America. Some English speaking countries are not formally considered part of it, but in general we're very kind and still consider them part of Latin America.

[2018-07-13 14:44] jdorfman commented on #14
I like `summit`.

great point, I already see this being an issue:

![image](https://user-images.githubusercontent.com/398230/42697651-954f45ea-8670-11e8-87dd-d387d27214b9.png)

[2018-07-13 22:23] spastorino commented on #13
Another thing, we can't talk about RustConf because it's a trademark. I'd put a line with Rust Latam and then maybe a line saying Montevideo 2019.

[2018-07-16 14:48] BenJam commented on #14
Thanks @elioqoshi for putting this together. I am particularly excited to see you pick up on:

To me Sustain is a community of people working continuously to highlight, work through and propose solutions to some of the challenges that we have worked through. Some as part of the event(s) and others that are picked up elsewhere. I think that Sustain would have a greater impact if it were possible to

[2018-07-17 09:03] elioqoshi commented on #14
Thanks @BenJam !

Addressing your comments:

Totally agree. However the main website should be a "hub" where anyone can quickly navigate to all various layers of Sustain, no matter if the events or other Sustain initiatives. It needs to be flexible and expandable. The fact that Sustain only is about SustainUK right now, doesn't mean it would be in a similar fashion in the future. So we have to cat

[2018-07-17 14:21] jdorfman commented on #14
Exactly. I envision building sustainoss.org out to be the go-to destination for those who are interested in sustainability and want to contribute to the Open Source community without having to code. In addition to info on our events, it will also have best practices, blog posts, articles/reports, etc.

_From our vision/mission statement:_

![image](https://user-images.githubusercontent.com/398230/

[2018-07-19 13:04] samtuke commented on #5
These latest versions look great! They are now slated for inclusion in phpList release 3.4.0: https://mantis.phplist.org./view.php?id=19329

[2018-07-19 15:51] elioqoshi commented on #14
To recap our conversation in the call:

- the umbrella 'SustainOSS' should become "Sustain" as OSS is kind of redundanct in practice as we have been seeing people refer to it as "Sustain" anyway.
- the annual Sustain events should be called Summits and focus on the year, not the location. The locations are not really important for the storytelling aspects as of now, they only serve as a logistical

[2018-07-19 21:47] jdorfman commented on #14
Can we keep the domain?

OK so let's get moving =)

[2018-07-21 14:34] elioqoshi commented on #14
So folks, after a very nice design session with @jdorfman I present to you the logo and brand proposal for Sustain, including Summit and Meetups, a color palette which works within this system and a font choice for the brand as there was none before.

Attached you can get the PDF or you can view it via our Presentator and also comment on it!
https://presentator.ura.design/en/bazOJAH6

Looking forw

[2018-07-23 22:00] jdorfman commented on #14
@elioqoshi getting an error

![cloudapp annotation 2018-07-23 at 3 00 18 pm png](https://user-images.githubusercontent.com/398230/43105267-29ee7ae8-8e89-11e8-9102-90c36f4b6f77.png)

[2018-07-24 17:31] elioqoshi commented on #14
It should work now @jdorfman but it's the same really as the PDF. @piamancini and @BenJam and co. would love to have your feedback.

[2018-07-24 20:05] elioqoshi commented on #13
Thanks for the detailed feedback. The cultural context was our main concern and this has been addressed. We should have updates very soon :)

[2018-07-25 02:47] jdorfman commented on #14
Perfect timing: https://github.com/sustainers/website/issues/152#issue-344250991

[2018-07-25 15:22] coderberry commented on #14
@elioqoshi

I tried to leave a comment in the slides but it didn't seem to work for me.

Regarding the slide with the metaphors, I do like what you have. The one that you landed on though doesn't really resonate with me as "sustainability". To me, sustainability is a slow growth that can weather any conditions. I think of trees or bridges or solid structures with the intent of surviving adversity.

[2018-07-26 01:39] barrosgeraldo commented on #13
Hi @elioqoshi, thank you so much for support us here, we are looking to have our visual identity ready by the end of this month, let us know if the deadline will have to be extended, so we can work better with our strategies and plans. Cheers! :tada:

[2018-07-26 08:09] elioqoshi commented on #13
@barrosgeraldo I'm going on vacations 5th August so it would be appreciated if we can extend it to 4th August just in case. Once the logo, colors and fonts are pinned down, the deliverables don't take much time

[2018-07-27 14:41] BenJam commented on #14
@elioqoshi thanks for putting this together. My honest feedback is that the circle makes me think of lifebouys and the thunderbolt makes me think of electrical warnings. But that's just me.

I'm with @coderberry on stability, strength and resilience as the main touchpoints. That said I do think the emphasis on the events could be considered an intermittent 'spark' over the ongoing work the communi

[2018-07-27 15:10] jdorfman commented on #14
@BenJam on the call yesterday @piamancini had a concern with the lighting/thunderbolt. @elioqoshi is going to swap it with something else. =)

[2018-07-28 10:16] elioqoshi commented on #14
@BenJam Thanks for the feedback. My male bias might have gone overboard with the Thunderbold :)
From what I gathered from the call we liked the circle however.

I worked on a less aggressive one here:

![image](https://user-images.githubusercontent.com/5436686/43355632-010ac1f6-9260-11e8-991a-e6ae7aa4b86a.png)

Not totally going to the tree direction @coderberry suggested, but having the plant ana

[2018-07-28 10:21] elioqoshi commented on #14
Slight alternation:

![image](https://user-images.githubusercontent.com/5436686/43355684-ccb80318-9260-11e8-9295-740239c72943.png)

[2018-07-28 12:44] abitrolly commented on #14
While you are at it, please don't kill previous website. Its color scheme a link to report is easy to remember for someone like me, who occasionally refers other people to it.

[2018-07-29 22:20] elioqoshi commented on #13
So how about this? This puts an emphasis on the brand system rather the logo:
![image](https://user-images.githubusercontent.com/5436686/43371112-838719dc-938b-11e8-85ab-8ee0cf7afce4.png)

It can be flexible and adapt for many situations:
![image](https://user-images.githubusercontent.com/5436686/43371151-5d2966ae-938c-11e8-8047-abd76f207e98.png)

Frames:
![image](https://user-images.githubusercon

[2018-07-30 16:19] spastorino commented on #13
@elioqoshi this looks great :heart:

[2018-07-30 16:51] sebasmagri commented on #13
I really like it too! Great work @elioqoshi  and team...

[2018-07-31 11:40] elkos commented on #11
At the moment we need adding the esa logo pointing to https://www.esa.int/esalogo/index.html and the libre space logo and link to https://libre.space under the marks "ESA Activity" "Implemented by LSF" respectfully.

Either at the home page at widget space.

[2018-08-01 09:01] elioqoshi commented on #11
Cool. @AnXh3L0 can you address this by tomorrow? Ping me for the credentials

[2018-08-01 15:13] AnXh3L0 commented on #11
The ESA and Libre Space logo have been added to the bottom of the page and are linked to their respective websites.

[2018-08-01 17:08] elioqoshi commented on #10
@eupiteco, can you add all the gray's from Open Color to the Style Guide?

[2018-08-01 17:35] elioqoshi commented on #10
Also please use the same components withint the style guide as outlined (for example the download buttons have a different button style than the component buttons.)

[2018-08-02 02:39] eupiteco commented on #10
**Summary of the last push**
1. All the SG buttons are now in the pill shape
1. Removed the gray line below the headers
1. Reduced the large and medium buttons height by 33%
1. Added the OC grays
1. Changed 'SecureDrop' with 'I2P' in a few places where it was still showing up
---
**Contents that are missing**
1. I2P favicon
1. Text about alerts
1. Identihub-hosted SVGs, the raw SVGs from the `work

[2018-08-02 17:00] AnXh3L0 commented on #13
Hello everyone,
Below you will find a zip file that contains most of the assets in the SVG, PDF and PNG formats.
Please note that this is not final and changes could happen at anytime based on your feedback.
[RUST LATAM Assets.zip](https://github.com/uracreative/works/files/2254441/RUST.LATAM.Assets.zip)

Cheers,
Anxhelo

[2018-08-02 17:05] elioqoshi commented on #13
Please also keep in mind that details are not included as there are apparently none yet and we can do them as we get closer to the event @barrosgeraldo ?

[2018-08-02 17:12] spastorino commented on #13
Cool, this is great!!!

[2018-08-03 22:27] elioqoshi commented on #14
As decided in the last call, we have a winner! You can find the final exported logos here on our Identihub:
https://demo.identihub.co/sustain

Please note that Identihub is under constant development so you might come across bugs. It's inhouse open source software on our servers however :)

Notes from the last call:
https://github.com/sustainers/events/issues/10

[2018-08-03 22:27] elioqoshi commented on #14
Soon also in this repo. Ping @AnXh3L0

[2018-08-05 22:30] eupiteco commented on #10
**Summary of the last push**
1. Added header and footer components
2. The alerts colors now match the I2P colors
3. Did some fixes in the overall components page layout

[2018-08-06 15:35] elioqoshi opened #15 "Logo for TurkuSec"
We are helping TurkuSec with a new logo:
https://demo.identihub.co/turkusec

https://turkusec.fi/

The Information Security Association of Turku

@AnXh3L0 can we push the assets in the repo?

[2018-08-06 16:12] AnXh3L0 commented on #15
Yes, the assets are now in the repo, [here](https://github.com/uracreative/works/tree/master/TurkuSec).

[2018-08-06 16:32] elioqoshi commented on #15
Thanks! Closing

[2018-08-06 16:32] #15 closed

[2018-08-06 16:35] elioqoshi commented on #13
Thanks! @barrosgeraldo can you let us know if these are good to go? If so we can push the sources to our repo here

[2018-08-06 17:28] AnXh3L0 commented on #14
The assets are now in the repo, you can find them [here](https://github.com/uracreative/works/tree/master/Sustain).
PS. Updating it at the moment to fix a small issue with some assets.

[2018-08-08 10:07] AnXh3L0 commented on #13
Hi @barrosgeraldo, the assets are now in the [repo](https://github.com/uracreative/works/tree/master/Rust%20LATAM).
Cheers,
Anxhelo

[2018-08-24 16:16] elioqoshi commented on #4
@AnXh3L0 can you create an Identihub page with all these assets please as well? Let me know if there is any design aspect missing.

[2018-08-24 18:17] AnXh3L0 commented on #4
@elioqoshi here is the Identihub Project page for Open Humans: https://demo.identihub.co/open-humans#/

[2018-08-27 09:44] marianaballa opened #16 "RustFest Rome visual identity"
We will have to work on a visual identity for RustFest Rome (https://rome.rustfest.eu/).  Deadline for this is early October.

[2018-08-27 10:45] elioqoshi commented on #14
Closing this, thanks for the great collaboration! @jdorfman if you need anything else, feel free to open an issue.

[2018-08-27 10:45] #14 closed

[2018-09-05 11:04] AnXh3L0 commented on #16
A short brief for the identity would be:
We have to keep the Roman vibe and the colors used in the EU main page for Rust: https://rustfest.eu
For the logo we would use the main symbol of RustFest EU but adopted for Rome (RustFest EU as an umbrellla brand).

Assets needed:
Logo
T-shirt Design
Web Assets (illustrations)
Mascot (Rust crab)
Social Media assets
Identihub Project page
Lanyard + Badge

[2018-09-22 09:40] AnXh3L0 commented on #11
@elkos is there anything left here to do?

[2018-11-21 15:55] elioqoshi commented on #16
This is finished, thanks everyone involved!

A lot of discussions where held here:
https://github.com/RustFestEU/brand/issues/2

Also a blog post referencing our tshirt designs:
https://blog.rustfest.eu/tshirts-rome

Closing this as wrapped up.

[2018-11-21 15:55] #16 closed

[2018-11-21 15:58] elioqoshi commented on #11
Closing this as finished.

[2018-11-21 15:58] #11 closed

[2018-11-21 17:11] elioqoshi commented on #9
This is wrapped up! The final work can be seen here:
https://ura.design/projects/i2p

[2018-11-21 17:11] #9 closed

[2018-11-21 17:11] elioqoshi commented on #4
This is finished, thanks!

[2018-11-21 17:11] #4 closed

[2018-11-21 17:13] elioqoshi commented on #10
The first implementation of the style guide is here:
https://ura.design/projects/i2p

[2018-11-21 17:13] #10 closed

[2018-11-21 17:14] elioqoshi commented on #7
The Summit is over, thanks everyone! Blog post here:
https://ura.design/2018/11/16/osd-summit-2018

[2018-11-21 17:14] #7 closed

[2018-11-21 17:18] elioqoshi commented on #8
This is wrapped up, thanks!
https://ura.design/projects/securedrop

[2018-11-21 17:18] #8 closed

[2018-11-21 17:32] elioqoshi opened #17 "Oxidize Berlin Visual Identity"
Background:

Ferrous Systems (newly founded Rust Company) would like to run a Rust conference centered around embedded systems. It should hold the standards of a FOSS conference (accessible, fair, affordable, centered around teaching and not too vendor-focused.

The name would be Oxidize and happen in Berlin during April/May 2019.

[2018-11-21 17:33] elioqoshi commented on #17
Notes from a past meeting:
[code]

[2018-11-21 17:34] elioqoshi commented on #17
![image pasted at 2018-11-8 10-19](https://user-images.githubusercontent.com/5436686/48858530-eb785800-edbb-11e8-8c8b-4209e5948331.png)

Survey Results regarding the Brand Positioning to help us shape the direction

[2018-11-29 10:45] marianaballa opened #18 "Thunderbird "Preferences" UX Redesign"
Following discussion on [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1498332), within the next two months we will be working together with the Thunderbird UX team on redesigning the "Preferences" option for Thunderbird.

Discussion will take place on the #thunderbird channel on our Mattermost (https://chat.ura.design/) and on [Bug 1498332](https://bugzilla.mozilla.org/show_bug.cgi?id=14

[2018-12-05 21:37] spastorino commented on #13
Hi @elioqoshi,

I saw we already have a lot of useful things designed like the badge and lanyard. First, we would need to include gold and silver sponsors on lanyards, would that be possible?.
We would also need t-shirts, we need to include gold and silver sponsors too. You can check out sponsors here https://rustlatam.org/#our_sponsors but I can also provide vectorial logos and stuff.

[2018-12-06 10:17] elioqoshi commented on #13
@spastorino Thanks. @ergish can help with creating these assets. @AnXh3L0 could you guide him on this?

[2018-12-06 10:55] elioqoshi commented on #13
Also, is this somehow urgent @spastorino ? Should be no problem by the end of the year or do you need it quicker done?

[2018-12-06 13:46] ergish commented on #13
Hi @spastorino,
If you can provide the vectorial versions of the logos it would help us a lot!

[2018-12-06 22:50] elioqoshi commented on #13
@ergish @AnXh3L0 and me did them, hence you should check in with Anxhelo :)

[2018-12-07 16:46] spastorino commented on #13
@elioqoshi end of the year is ok.

@ergish I can provide vectorial versions of the logo, will talk with @elioqoshi on private to see how I can send you that

[2018-12-11 14:43] spastorino commented on #13
@ergish just in case you didn't see it I've sent all the logos over email.
There's no rush for now on this but can you give me an idea about more or less how much it will take to you?.
Thanks a lot.

[2018-12-11 15:50] ergish commented on #13
@spastorino we got the logos. Thank you for that! I think by the end of the month we will send you mockups for each version of the T-shirt design.

About the logos added on the lanyard, we wouldn't suggest that because of the thin size of the lanyard ribbon and the logos of the sponsors and the rust logo would be equal in size and that might be confusing. But we can add the logos in the badges. Pl

[2018-12-17 19:35] ergish commented on #17
The first draft: Presentation of three logo options for Oxidize, each with a pattern and three color palettes.
https://presentator.ura.design/sq-al/4XMxYPgg?v=0&s=1&m=preview

[2018-12-18 17:01] ergish commented on #17
Please, turn on the "Fit to Screen" option in the right corner of the top menu for a better view. Also, to check the other presentations check the top menu. The fonts are not included, so we can focus on the logo and the colors for now.

Our opinion:
The first logo option would be a better choice for many reasons.
It is simple, flexible, easy to use, recognizable and because of it's components, a

[2018-12-19 15:19] jamesmunns commented on #17
I think we are in agreement that we like the first option the best, @skade, please feel free to add any more details if you would like.

I personally really like the background (using the "Technology waves"), and overall we like the "pink and blue", and the "blue and green" color options.

[2018-12-19 17:09] ergish commented on #17
Thank You James! I got your comments on the Presentator. That's very helpful.
Also, please feel free to add comments about your ideas or changes that you might recommend, if there are any.

[2018-12-22 13:04] elioqoshi commented on #17
Thanks @jamesmunns

We plan to refine this proposal with potentially some slight alternations on font, layout and color variation to pin down the right balance. Afterward we should be good to go to expand the design language so the visuals can be translated well into any deliverable required for the conference.

[2018-12-24 13:38] ergish commented on #13
Hi there,
@sebasmagri

Please, check out the links below:
Badge: https://presentator.ura.design/sq-al/e2usDSTd?v=0&s=1&m=preview
T-shirts: https://presentator.ura.design/sq-al/phV0TU3j?v=0&s=1&m=preview

Turn on the "Fit to Screen" option in the right corner of the top menu for a better view. Also, to view the other versions check the top menu.

One of the T-shirt designs does not include the spon

[2018-12-24 13:38] ergish commented on #13
Hi there,
@spastorino

Please, check out the links below:
Badge: https://presentator.ura.design/sq-al/e2usDSTd?v=0&s=1&m=preview
T-shirts: https://presentator.ura.design/sq-al/phV0TU3j?v=0&s=1&m=preview

Turn on the "Fit to Screen" option in the right corner of the top menu for a better view. Also, to view the other versions check the top menu.

One of the T-shirt designs does not include the spon

[2018-12-24 13:53] spastorino commented on #13
@ergish this is great, I love it :). I like the first t-shirt design. Anyway, going to check with the rest of the team and will get back to you.

[2018-12-24 14:11] spastorino commented on #13
@ergish we like the first t-shirt, the black one. Can you try building a new design of that one but also including the Rust logo?. We are not sure if we want it or not but it may be nice to try out :).

[2018-12-26 11:33] ergish commented on #13
@spastorino This will be the T-shirt design with the full horizontal logo.

![t-shirt-design-1 1---mockup](https://user-images.githubusercontent.com/44442505/50444602-b8b90680-0909-11e9-8f3e-6276f1106bae.jpg)

Let us know if you agree on keeping the updated design of the badges with the sponsors, and also which files will you need so we can deliver them.

[2018-12-27 12:59] ergish commented on #13
@spastorino I'm glad you like it!
So, the thing is, if we use another color (one of the visual identity colors) some of the squares won't be visible because they will have the same color as the t-shirts. In my opinion, the best would be to use the white/gray color for the t-shirt if we are using the same design, or a black t-shirt with another design like option 3 and 4 in the presentator in the l

[2018-12-27 15:18] spastorino commented on #13
What about going with this same design as is for regular t-shirts and same design in grey for staff and without logos on staff t-shirts.
Also, just in case if you can provide black t-shirts without logos too would be great.

[2018-12-27 19:19] ergish commented on #13
@spastorino
In the image below there's a preview of the T-shirts with and without the logos.
![preview](https://user-images.githubusercontent.com/44442505/50491802-75978a00-0a14-11e9-9648-eb14acc49614.jpg)

[2018-12-27 19:48] spastorino commented on #13
@ergish great, but I'm not too convinced because colors between them is similar. Can we make the last try with STAFF in white?.

[2018-12-29 14:42] ergish commented on #13
@spastorino
Here's a preview of the white T-shirts. In any case, both designs, with the white and black writing (with and without sponsors) will be delivered to you.
![preview1](https://user-images.githubusercontent.com/44442505/50539425-49008100-0b80-11e9-90ff-2fc802b21b26.jpg)

[2018-12-30 20:54] spastorino commented on #13
Love this, I think that's all then. We have the t-shirts, badges and lanyards.
Thanks a lot. Please send me the source files when you can :heart: :heart: :heart:

[2019-01-02 13:06] ergish commented on #13
@spastorino
In the zip file you'll find:
- Badge + Lanyard with the Font Family that will be used in the badges.
- T-shirt designs and all their alternations.

[Rust Latam 2019 - Delivery 2.zip](https://github.com/uracreative/works/files/2720779/Rust.Latam.2019.-.Delivery.2.zip)

Please, let us know if you have any question!

Warm Regards and Happy New Year! :)

[2019-01-11 12:48] AnXh3L0 opened #19 "Librefox Branding"
Librefox (a modded Firefox browser that aims to improve privacy and security) is going to have a new website soon and it also needs a logo.

The leader of the project will also probably be at FOSDEM so a close meet-up will also work to gather some ideas.

The project resides here https://github.com/intika/Librefox

[2019-01-16 16:18] ergish commented on #17
**An updated presentation of the Visual Identity.**
[Visual Identity.pdf](https://github.com/uracreative/works/files/2765041/Visual.Identity.pdf)

This is open to changes so please, feel free to give your feedback.

[2019-01-17 16:18] elioqoshi commented on #19
Are you working on this @AnXh3L0 ?

[2019-01-17 16:22] AnXh3L0 commented on #19
I am working on the website at the moment, wanted to leave the logo for a bit later since FOSDEM is near and we can meet the main developer there to discuss.

[2019-01-17 20:08] spastorino commented on #13
@ergish I have a last request, we want to design stickers :). Maybe we already have some kind of asset design that "applies" and it's not a lot of work?.
Let me know if you guys can do something.

[2019-01-17 20:16] ergish commented on #13
Hi @spastorino
Yes, why not. If you guys have any specific request or any element you want to add in the sticker, let us know. Otherwise we will design something using the visual elements we have.

[2019-01-17 21:04] spastorino commented on #13
Just go ahead freely and with your own ideas, you have been building great stuff that I don't want to ruin :).

[2019-01-18 12:36] ergish commented on #13
[Rust Latam 2019 - Delivery 3 - Stickers.zip](https://github.com/uracreative/works/files/2772914/Rust.Latam.2019.-.Delivery.3.-.Stickers.zip)
@spastorino in the zip folder there are 6 sticker alternatives. You can use whichever you like best.

[2019-01-18 13:53] spastorino commented on #13
Cool, thanks so much for this @ergish !!!

[2019-01-18 16:04] ergish commented on #13
Cheers! :)

[2019-01-22 23:20] ergish opened #20 "Rufus+ Blood Donation - Logo"
We're working on the logo for Blood Donation:
https://github.com/opensourcedesign/jobs/pull/372

Also the discussion in the forum:
https://discourse.opensourcedesign.net/t/jobs-material-design-including-logo-and-assets/863

[2019-01-23 11:31] elioqoshi commented on #20
Asking whether that's the name or they would like to explorer another name as "Blood Donation" is super generic.

[2019-01-29 15:07] elioqoshi opened #21 "Briar Design System & Style Guide"
As part of the Open Tech Fund Usability Lab we will be creating a style guide for Briar, including Logo Assets, Colors and Components. The base for this will be our usual Jekyll style guides (like SecureDrop, I2P) with some improvements on styling and layout, taking inspiration from the EOS Design System: https://www.eosdesignsystem.com

This work includes a cleaned up logo lockup without changing

[2019-01-29 15:07] AnXh3L0 opened #22 "Thunderbird Photon System in Jekyll"
Mozilla has lately updated their Photon Design System to Jekyll (from Node JS) and now the website works without JavaScript too.

We have to pull from the upstream and reapply the Thunderbird design language in the new Jekyll site.

[2019-01-29 15:09] elioqoshi commented on #22
This will help have the style guide available without a backend in Jekyll and making it possible to be used with JavaScript disabled.

[2019-01-29 16:28] elioqoshi commented on #18
Usability Study is finished and last tweaks are being made. This is good to go to be added to the website Thunderbird case study

[2019-01-31 13:58] jamesmunns commented on #17
Hey, I'm going to start collecting the items/assets we need here, and try to group them in a reasonable order.

## Must Have

- [ ] Badge Design
    - [ ] Speakers
    - [ ] Organizers
    - [ ] Attendees
- [ ] Stickers
- [ ] Slide Show Template (for day-of-conference)
- [ ] Poster Design (for venue), A4ish size
- [ ] Social Media images
    - Something for advertising posts before the venue

## P

[2019-02-01 09:03] elioqoshi opened #23 "Tech Policy Card Game Product Design"
Finally Product Design for an actual meat space product :)

We are collaborating with @georgiamoon from Simply Secure to design the visuals of the cards and overall branding. @ergish is leading this effort from our side and @AnXh3L0 and me will be helping with the process. @RenataGegaj could eventually even do some Playability Testing afterwards 😛

https://github.com/georgiamoon/techpolicycardgame

[2019-02-06 18:46] skade commented on #17
We're not sure about taping the talks yet, but that might add a video coverimage (is that what they are called) to that. Otherwise, the list is great, the attendee t-shirt I would put this really low-prio.

[2019-02-07 09:41] elioqoshi commented on #17
@skade thanks for the notice. Maybe consider doing socks this year? :D

[2019-02-07 09:41] elioqoshi commented on #17
@ergish Could you update us on this progress?

[2019-02-07 14:10] skade commented on #17
@elioqoshi same thing, I like socks, but some people might not wear them :). I really hate textile waste. I could imagine selling them, though! Maybe a shirt and socks kit.

[2019-02-07 14:31] ergish commented on #17
Hi guys, please check out this folder and let me know if you require any changes. Else, you can check the boxes of the list above.
[Visual Identity Assets - Delivery1.zip](https://github.com/uracreative/works/files/2841220/Visual.Identity.Assets.-.Delivery1.zip)

Also, I would need the text and the sizes of these Assets:
- Slide Show Template
- Social Media Images
- Standing Banners
- Posters (The

[2019-02-07 14:34] ergish commented on #17
@skade That's sad. I was just starting to work on those socks. :)

[2019-02-07 16:02] elioqoshi commented on #17
The sizes are pretty standard, but it would be useful to know what images exactly would be needed, e.g:

- Facebook Page Cover
- Facebook Event Cover
- Profile Photo
- Twitter Cover
- Mastodon Cover

If we know these, we should know the sizes.

[2019-02-07 16:11] ergish commented on #17
Yeah, the size was more about the Slide Show. So we'll need the content (the images and the text for each post that we will design).
Twitter is set. Will OxidizeConf be on Facebook too?

[2019-02-10 17:03] jamesmunns commented on #17
@ergish I don't plan on having a facebook or mastodon presence.

General feedback from the zip you've provided:

1. I like the badge 1 style more, but I really like the wave pattern background from badge 2. Could you please add the background to badge 1, then LGTM!
2. I'm not a big fan of either shirt design, though I like the way shirt 1 fills up the whole front. Do you have any other design idea

[2019-02-11 13:49] elioqoshi commented on #20
@ergish Any update on this?

[2019-02-11 14:07] elioqoshi commented on #18
This is wrapped up, we just need to write a short blog post about it. Project: https://ura.design/projects/thunderbird

[2019-02-11 14:11] elioqoshi commented on #23
@ergish can you update us on the status of your explorations for this?

[2019-02-11 14:43] elioqoshi opened #24 "GDPR Compliance Assessment UX Review"
@giannisk asked us to help review the UX and Usability of a GDPR Assessment tool he developed. Ideally we should specify:

a) what works well
b) what doesn't work well
c) suggestions for improvement

Demo: https://dev.gdprassessment.io/

Feedback Form: https://goo.gl/forms/rzgtpKfL4NepFaXF3

(Optional Documentation) Brief Introductory Video: https://pithos.okeanos.grnet.gr/public/QVS9RyS977FAGcw7B

[2019-02-11 14:49] elioqoshi commented on #24
@RenataGegaj can you do a quick testing session (ideally with a tester) and do some review with recommendations from your side? I will also do a quick review by tomorrow.

Let's write the recommendations here too.

[2019-02-11 14:51] #18 closed

[2019-02-11 17:37] ergish commented on #17
@jamesmunns  Hi again,
So please, check out the new zip folders:

[Visual Identity Assets - Delivery2.1.zip](https://github.com/uracreative/works/files/2852220/Visual.Identity.Assets.-.Delivery2.1.zip)
[Visual Identity Assets - Delivery2.2.zip](https://github.com/uracreative/works/files/2852222/Visual.Identity.Assets.-.Delivery2.2.zip)

1.  The badge styles now are merged in one.
2.  There are 2 t

[2019-02-11 17:46] ergish commented on #20
Still nothing new on this one. We need a new name for it and it seems I can't come up with a name. Any ideas?

[2019-02-11 18:30] jamesmunns commented on #17
1. Looks great to me!
2. I really like T-Shirt 3, the white text on black shirt!
3. The new stickers look really good!
4. I really like the sponsors PDF!

One last small request, would it be possible to get a combination of sticker 2 and sticker 8? Black sticker, with a light grey texture pattern like part8 has?

I can't think of anything else, overall looks great to me! Thank you so much @ergish!

[2019-02-11 18:59] ergish commented on #17
Thank You @jamesmunns !

This zip folder is the updated "8-Stickers" folder with Nr.10 added.
[8-Stickers.zip](https://github.com/uracreative/works/files/2852588/8-Stickers.zip)

[2019-02-11 19:21] elioqoshi commented on #17
@jamesmunns Great to hear you like the deliverables :)

Please feel free in the coming weeks to let us know of any other deliverables or whether you need revisions as well.

[2019-02-11 19:23] elioqoshi commented on #20
I don't think all 3 of us should spend time on coming up with a new name, so please check with the developer of the project on a few names and we can move forward with this.

[2019-02-13 13:14] RenataGegaj commented on #24
I conducted a testing session yesterday, I did a dry run test of the interface myself before testing with the participant. The test performed well overall! Although some small usability improvements can be made.
I tested the interface on different screens and it was responsive in every case.
There are some small details on homepage that need attention:

1. The home page needs to include more infor

[2019-02-13 14:11] elioqoshi commented on #24
Thanks @RenataGegaj ! Adding my suggestions here as well:

Indeed. Also, please ideally ensure that text is WCAG 2.0 compliant for accessibility purposes:
https://webaim.org/resources/contrastchecker/

In the case of the hero section, the text barely passes AA. To be AAA compliant, you should have a bigger contrast ratio with the background. This is not a huge deal considering the contrast passes,

[2019-02-16 09:46] elioqoshi commented on #22
This work has been approved to be performed via the OTF Usability Lab. @AnXh3L0 can you update us on the progress here?

[2019-02-16 10:15] elioqoshi commented on #17
@jamesmunns @skade let us know when the new landing page is implemented so we can give it a review. It would be great to have the website design finished this month so March can start with a solid website presence :)

[2019-02-16 10:19] elioqoshi commented on #12
For context, most of this work has been tracked on Briar's own GitLab:

Power Management Improvements: https://code.briarproject.org/briar/briar/issues/1261
Image Attachments: https://code.briarproject.org/briar/briar/issues/1243
Adding Contacts Remotely: https://code.briarproject.org/briar/briar/issues/1235
Dark Theme: https://code.briarproject.org/briar/briar/issues/1252
Tor Bridges: https://cod

[2019-02-16 15:23] elioqoshi opened #25 "Nile Logo & Brand Guidelines"
https://nile.shopping/

Marco from Nile reached out asking whether we could contribute with design efforts at Nile. I think that it's a great project and we should get involved! Let's start with creating a logo and basic brand guidelines for Nile.

@ergish it would be great if you could lead the branding direction.

[2019-02-16 15:37] elioqoshi commented on #24
@giannisk let us know if you need further clarifications or whether that's good to go for your side :)

[2019-02-16 15:46] elioqoshi opened #26 "Save by OpenArchive Logo & Branding"
https://open-archive.org/

We are helping OpenArchive with branding for their newly named "Save" app. The work will include a logo and fundamental brand guidelines.

[2019-02-16 15:48] elioqoshi commented on #26
Brief by Natalie:

 our next step is to find a visual language that creates an intuitive framing that:
- is memorable enough that if someone has seen the icon before, they can find it amongst their other apps.
- creating a baseline brand identity that looks sleek enough to be able to sit along other apps (eg, what does our roll-down poster look like in a few words, a logo and maybe some supplement

[2019-02-18 14:06] AnXh3L0 commented on #22
Sure, I have pulled from the Firefox UX repo and reapplied the Thunderbird assets in it. Now finalizing it and trying to make it work without using Docker.

[2019-02-18 14:39] elioqoshi commented on #22
Sounds good. It would be great to wrap that work up by tomorrow.

[2019-02-19 10:56] AnXh3L0 commented on #22
The https://github.com/uracreative/thunderbird repo now holds the design system for Thunderbird. There's still some minor changes to make as some of those don't apply to Thunderbird but only Firefox.

[2019-02-19 10:58] AnXh3L0 commented on #19
We met with the main dev at FOSDEM this year but there is still no answer from Mozilla about the trademarks, so we can't carry on with this at the moment.

[2019-02-19 11:11] elioqoshi commented on #22
@AnXh3L0 Thanks. What's the matter with GitHub pages?

Let's make sure to add also a ReadMe to provide some context

[2019-02-19 11:15] elioqoshi commented on #24
Closing this as finished unless there is anything else needed.

[2019-02-19 11:15] #24 closed

[2019-02-19 11:27] AnXh3L0 commented on #22
@elioqoshi GitHub Pages should work now. You can see it here: https://uracreative.github.io/thunderbird/

Sure, will add some context in a README file.

[2019-02-19 11:50] elioqoshi commented on #22
Thanks @AnXh3L0

Some feedback to consider and I think it's good to go:

- In the Typography section, we don't need an example of line length for Mobile as Thunderbird is not available on mobile.
- I don't think there should be designsystem@thunderbird.net email. Maybe use the TopicBox UX team list should be instead there.
- Instead of the Firefox UX GitHub and Twitter, let's have the generic Thun

[2019-02-19 14:42] ergish opened #27 "Insignary - Design Layout of "Find a Distributor" page."
This issue is about revising the  [Insignary](https://www.insignary.com/)'s Design Layout of [Find a Distributor](https://www.insignary.com/find-distributor) page and find a way to organize the information about the partners listed in the image below:
![partners](https://user-images.githubusercontent.com/44442505/53022585-c4cdca00-345b-11e9-875d-e14b95666d56.png)

A preview of the provided solutio

[2019-02-19 14:44] ergish commented on #27
@elioqoshi
Please, can you add the right labels for this issue?

[2019-02-19 14:50] ergish commented on #25
@elioqoshi
Of course! I'm gathering all the information I need to come up with two logo concepts for the moment.

[2019-02-19 15:04] ergish commented on #23
Hello there,

I've been researching, gathering ideas and playing around with the design of the cards layout and the icons of the cards categories. I think we should focus on the Logo and the Visual Guidelines first. After that, we can safely proceed with the illustrations of each card. :)

@georgiamoon @elioqoshi do we have a final name for the card game? Also, if have any ideas about the design,

[2019-02-19 15:19] ergish commented on #20
Just sent some random ideas for the name in the forum:
https://discourse.opensourcedesign.net/t/jobs-material-design-including-logo-and-assets/863

[2019-02-19 16:36] elioqoshi commented on #23
How about **Traxx** or **Trax** ?

Coming from Tracking as a wordplay and adding the xx at the end :)

[2019-02-19 16:37] elioqoshi commented on #25
Thanks! Please note that this is not in a rush and we have to prioritize some other projects at the moment and wrap them up first :)

[2019-02-19 16:39] elioqoshi commented on #27
Just did @ergish. Should be straightforward

[2019-02-19 17:33] elioqoshi commented on #23
The Illustration style is probably too comical, but I like the layout and design system of Exploding Kittens:
https://explodingkittens.com/

[2019-02-19 17:39] mayela commented on #13
Hi @ergish. @elioqoshi told me that you are guy for my request. I had create this template for RustLatam social media, but @spastorino told me about is the incorrect arrangement of colors. Can you help me, please? Thanks in advance.
![rust-latam-social-media](https://user-images.githubusercontent.com/665952/53035419-fda97700-343a-11e9-816c-f8181e649685.png)

[2019-02-19 18:12] elioqoshi commented on #23
Started with some explorations, based on the stereoscopic duotone color and the idea of a grid-node (Tracks?)

![image](https://user-images.githubusercontent.com/5436686/53037356-45032800-347a-11e9-9cb1-b39aaf943dbb.png)

[2019-02-19 18:17] elioqoshi commented on #13
@mayela hi! SImply don't use any yellow squares behind the logo so the contrast is fine there :)

[2019-02-19 18:41] elioqoshi commented on #23
Some good inspiration can be found here:
https://www.pinterest.com/pin/327496204130684629

[2019-02-19 19:10] elioqoshi commented on #23
2 quick card layout ideas:

![image](https://user-images.githubusercontent.com/5436686/53040753-77b11e80-3482-11e9-8c32-391bbdb12c50.png)

[2019-02-19 19:46] elioqoshi commented on #23
Side Idea: As many card games have some quote or fun fact underneath written, it would be maybe nice to have a Fun Fact for every card related to some IRL event.

[2019-02-19 19:47] elioqoshi commented on #23
For other color palettes, good inspiration here: https://www.instagram.com/colours.cafe/?hl=en

[2019-02-19 20:53] AnXh3L0 commented on #22
The changes you requested have been implemented @elioqoshi. Changes are visible from the GitHub Pages link above.

[2019-02-20 09:39] elioqoshi commented on #22
Thanks. I think this is ready to be handed off now. cc @ryanleesipes

[2019-02-20 09:40] elioqoshi commented on #27
We should design another design layout grouped by continents instead of partners/resellers. For example, if I were to be a customer from America, I could quickly and easily identify which partner/reseller to reach out to.

Afterwards let's send both versions and let them decide what they prefer. @ergish Could you update that today?

[2019-02-20 11:08] Raphseck commented on #23
Hey guys!
Can i help with illustrations?

[2019-02-20 14:20] ergish commented on #27
@elioqoshi yes I am working with that.

[2019-02-20 14:36] ergish commented on #13
Hello @mayela
Yeah, the colors are ok. I would suggest not using the logo on the colorful background because of the contrast. But even avoiding the yellow squares behind the logo, as @elioqoshi said, it works just fine.

[2019-02-20 17:00] mayela commented on #13
Thanks @elioqoshi and @ergish!

[2019-02-21 09:38] RenataGegaj commented on #12
Latest update: We conducted usability testing for power management improvements feature that has ben added to Briar lately. You can find the test results on this issue [https://code.briarproject.org/briar/briar/issues/1261]

[2019-02-21 10:30] elioqoshi commented on #12
Thanks! Marking that deliverable as complete.

[2019-02-22 16:00] ryanleesipes commented on #22
I have pinged @sancus about grabbing this.

[2019-02-25 12:22] ergish commented on #26
Here's a PDF document presenting five logo options for SAVE including the color palettes, the fonts, and some logo alternations. The main focus, for now, is choosing a path for the logo style and then we'll provide other revisions of that option.

[Save byOpenArchive - LogoDraft1 - Presentation.pdf](https://github.com/uracreative/works/files/2900454/Save.byOpenArchive.-.LogoDraft1.-.Presentation.p

[2019-02-26 10:08] AnXh3L0 commented on #27
The new layout has been implemented on their website yesterday.

[2019-02-26 10:09] #27 closed

[2019-02-26 11:03] elioqoshi commented on #21
@AnXh3L0 let us know when the initial repo is up

[2019-02-26 15:39] elioqoshi commented on #27
@AnXh3L0 @ergish please provide updates on the works here, not only in a sentence. Anyone outside Ura wouldn't be able to understand what was going on here.

I suppose the page is up on the staging website. It would be up soon here, right? https://www.insignary.com/find-distributor

[2019-02-27 11:55] AnXh3L0 commented on #27
Sorry about that, yes, the page is up at the link you provided above.
Below is a screenshot of the new layout.

![image](https://user-images.githubusercontent.com/25004151/53488570-fd3e5b00-3a8e-11e9-8820-c7813e92d9d1.png)

[2019-02-27 12:00] AnXh3L0 commented on #22
I modified the README file so it reflects what has been done on the design system, closing this issue. If there's anything left or any question, feel free to open it again.

[2019-02-27 12:00] #22 closed

[2019-02-27 12:02] AnXh3L0 commented on #21
The initial repo is up, it's located here uracreative/briar-styleguide. I will continue to modify the layouts, assets and more in the following days.

[2019-02-27 12:05] AnXh3L0 commented on #20
We kinda agreed to go on with the "Rufus+" name, will update on the progress.

[2019-02-27 12:06] AnXh3L0 commented on #19
Still no answer from Mozilla, this is pending.

[2019-02-27 12:11] AnXh3L0 commented on #13
Hello @spastorino ,

One month until the conference, hope things are looking good for you. Is there any sneak peek on the printed materials? :D

[2019-02-27 13:26] spastorino commented on #13
Not yet :). A lot of things are going to be done soon. Will keep you posted. Thanks a lot for your work and interest in this.

[2019-02-27 15:50] elioqoshi commented on #21
Thanks @AnXh3L0
As discussed, the style guide needs to be done in Hugo, not Jekyll (like all of our other style guides) so let us know when the migration is done.

[2019-03-01 10:04] elioqoshi commented on #20
Proposal from my side:

![image](https://user-images.githubusercontent.com/5436686/53631011-c2b0fb80-3c11-11e9-8f9c-2bb7ee674620.png)

[2019-03-05 10:25] AnXh3L0 commented on #21
Yes, I have proceeded to migrate it to Hugo, shall be in the repo earlier today.

[2019-03-05 10:37] ergish commented on #26
We received a detailed feedback on the last presentation, followed by some requests/suggestions on the concept of the logo:

* Explore the letter "S" as the shape. Particularly as it relates to the infinity sign.
* Instead of having it be an upright closed infinity symbol (which looks like an 8) perhaps break it slightly so that it's implying infinity.
* The logo should convey the multiple layers/

[2019-03-05 13:47] ergish commented on #20
Presentation of 4 logo proposals including the logo above:
[RufusPlus - Logo Draft 1 - Presentation.pdf](https://github.com/uracreative/works/files/2931166/RufusPlus.-.Logo.Draft.1.-.Presentation.pdf)

[2019-03-05 15:27] elioqoshi commented on #21
@AnXh3L0 do you mean later today? As the latest commit is 6 days ago

[2019-03-05 16:51] AnXh3L0 commented on #21
Yes, my bad, later today.

[2019-03-06 08:20] elioqoshi commented on #21
Let's not be too optimistic with estimates if it means that we miss them (like this one)

[2019-03-06 16:20] ergish commented on #26
Another updated revision:
* simplified the shapes and the colors
* added two more logo concepts

[Save byOpenArchive - LogoDraft3 - Presentation.pdf](https://github.com/uracreative/works/files/2937215/Save.byOpenArchive.-.LogoDraft3.-.Presentation.pdf)

[2019-03-06 16:26] ergish commented on #26
Another updated revision:
* simplified the shapes and the colors
* added two more logo concepts

[Save byOpenArchive - LogoDraft3 - Presentation.pdf](https://github.com/uracreative/works/files/2937259/Save.byOpenArchive.-.LogoDraft3.-.Presentation.pdf)

[2019-03-06 17:32] elioqoshi opened #28 "Oxidize New Website Implementation in Jekyll"
We will be implementing the redesign of the Oxidize website based on the new landing page we already designed and created the CSS for. This should be ready ideally next week.

Current Website: https://oxidizeconf.com/

Related to this: https://github.com/uracreative/works/issues/17

[2019-03-06 18:17] elioqoshi commented on #28
@AnXh3L0 could you link to the landing page CSS here again please?

[2019-03-06 18:26] elioqoshi commented on #28
Nevermind, CSS here

[Oxidize.zip](https://github.com/uracreative/works/files/2937744/Oxidize.zip)

[2019-03-08 10:43] elioqoshi commented on #21
@onweru is helping us with this conversion

[2019-03-08 14:06] spastorino commented on #13
Hi, everyone, we have a last request. We need to add more sponsors to the t-shirts. That would be the final version. So for the black t-shirt with logos we need to put those. Sharing a link to the logos in a bit.

@ergish we need this urgent, because we've figured that the t-shirt printing company needs all this for monday. We weren't expecting that, sorry for asking about this so late :(. Are you

[2019-03-08 14:26] ergish commented on #26
So, I designed another version of the logo based on the client's requirements regarding the concept. Following each requirement like an instruction book would not be a good idea because obviously, there should be no conflict between what the client requests and what we agree to offer.

The first icon in the file attached would be the primary logo.

[Save byOpenArchive - LogoDraft5 - Presentation.p

[2019-03-08 14:34] ergish commented on #13
Hi @spastorino
Unfortunately, I will be busy until Monday and not available to work. I can work on Monday and deliver the files in the same day, is that ok?

[2019-03-08 14:55] elioqoshi commented on #13
@spastorino I'm sorry but it's Friday afternoon and we don't expect people to work on weekends. Please coordinate accordingly with the printing company. We will be able to work on Monday again.

[2019-03-08 17:16] spastorino commented on #13
@ergish @elioqoshi yeah, don't worry, I wasn't expecting you to work during the weekend :). On monday is ok, and I'm very sorry to push you on this :(. Will send the logos today.

[2019-03-08 17:33] mayela commented on #13
Hi guys!
Thanks for your support, here is the zip with all sponsors' logos.
If you need something else just let me know. Great weekend.

[logos-sponsors-rustlatam.zip](https://github.com/uracreative/works/files/2946827/logos-sponsors-rustlatam.zip)

[2019-03-08 17:42] elioqoshi commented on #13
@mayela can you please attach again? I don't see anything

[2019-03-08 21:54] mayela commented on #13
@elioqoshi I'd uploaded the file again. Thanks!

[2019-03-08 23:09] mayela commented on #13
@elioqoshi sorry for the delay, here are the logos
[logos-sponsors-rustlatam.zip](https://github.com/uracreative/works/files/2947782/logos-sponsors-rustlatam.zip)

[2019-03-08 23:11] spastorino commented on #13
@elioqoshi @ergish there are some wyeworks logos, png shouldn't be on the zip but you will figure out what to do :). There are two versions one to use on dark backgrounds and one to use on white.

[2019-03-09 11:14] elioqoshi commented on #13
@spastorino on another note. would we be able to have short description on your website just like the other sponsors? https://rustlatam.org/#our_sponsors

[2019-03-09 13:35] spastorino commented on #13
@elioqoshi definitely. I was also planning on mentioning you on stage and in other places.

[2019-03-09 13:41] spastorino commented on #13
We need to also add Facebook to the T-shirt.
Here you have the list of logos updated and this is final now
[rust-latam-tshirts-logos.zip](https://github.com/uracreative/works/files/2948428/rust-latam-tshirts-logos.zip)

[2019-03-11 12:29] ergish commented on #13
Hi @spastorino in this folder you'll find the T-shirt and Badge files with the added sponsors. You didn't mention the badge but I included it anyway. The mockup files are not updated, only the print files.
About facebook, I added the logo of "Facebook Open Source" just like the other logos. Or did you want to add a Facebook Profile?
Let us know, please.

[Rust Latam 2019 - Delivery 4 - T-shirts +

[2019-03-11 13:00] spastorino commented on #13
Hey @ergish, thank you very much for doing this so fast. It looks great.

I may have a very last tiny request but I'm going to check everything today and let you know.

@elioqoshi we have added the description of Ura to the website.

Thank you very much guys!

[2019-03-11 13:26] ergish commented on #20
So we agreed on the icon and the colors:
The final logo, with the SVG, PNG exports and the fonts needed:
[RufusPlus Delivery.zip](https://github.com/uracreative/works/files/2952363/RufusPlus.Delivery.zip)

[2019-03-12 17:31] apiraino commented on #13
Hello @ergish, during the last sync confcall we discussed the possibility of printing also posters for the conference, we would like to have a quote from local printshops for that.

But first I think we need to update the design deliverables and we need some advice from you folks. I think we need:

- An updated design that includes the sponsors
- A new deliverable with a size suitable to be printe

[2019-03-12 17:50] spastorino commented on #13
@ergish I think you guys have already built something like this, in the original deliverable was on poster folder if I recall correctly. It's just that this should include sponsors also and all of them probably separated by gold, silver and bronze. Going to talk now with @apiraino so we can also give you the rest of the sponsors logos.

[2019-03-12 18:16] apiraino commented on #13
ok @spastorino this should an updated list of our silver + gold sponsors ([I've updated the archive you uploaded 3 days ago](https://github.com/uracreative/works/issues/13#issuecomment-471177931)), theregfore this archive replace the previous one.

[rust-latam-sponsor-logos.zip](https://github.com/uracreative/works/files/2958212/rust-latam-sponsor-logos.zip)

Let me know if it's ok!

[2019-03-13 13:23] ergish commented on #13
@apiraino @spastorino
Hi guys, so the new logos, separated by gold, silver, bronze, beside the posters, should be also in the badges and the T-shirts right?

[2019-03-13 13:51] ergish commented on #13
The Pyxis logo seems to be a vector file so it's perfectly fine.

[2019-03-13 16:54] apiraino commented on #13
Hi @ergish yes, I confirm that the sponsors names should be also on badhes and tshirts.

Let me know if you need anything else, thanks!

[2019-03-13 17:47] ergish commented on #13
@apiraino @spastorino
In this folder you'll find the updated design of:
* T-shirts
* Badges
* A3 Poster
* Roll Up Poster

I had to make some changes on the final layout of the design because of the added sponsors. In my opinion, the new design looks even better.

Let me know if you need anything else!
[Rust Latam 2019 - Delivery 5 - T-shirts + Badge + Posters.zip](https://github.com/uracreative/wo

[2019-03-13 17:54] apiraino commented on #13
Great job, the new designs look gorgeous! We'll have a look at them during our meeting.

thanks! :+1:

[2019-03-15 15:03] spastorino commented on #13
@ergish hey just saw all this, impressive work :heart:.

One minor detail, in the rollup design, aren't sponsor logos too small?. Given that we have a LOT of space, can't we put the word Gold and gold sponsors after that, Silver and silver sponsors and so on and make them a bit bigger?. You're the one that knows about how things look, I have no clue ;), take this as a suggestion but as an idea it

[2019-03-17 11:54] elioqoshi commented on #13
@spastorino

You are absolutely right, it's not even a minor detail. We should fix this. @ergish I'd propose using 30%-40% of the rollup height for sponsors. They need to be readable from meters away afterall.

Definitely.

If 0,8m x2m is the requirement we will do that, sure

[2019-03-17 11:59] elioqoshi commented on #13
@spastorino, ironically, and amazingly how we never noticed is that we didn't include our own Ura logo in the deliverables lol

So we will update these with that too.

[2019-03-17 14:24] spastorino commented on #13
@elioqoshi yeah, our idea was that you were one of the important sponsors too so please include you everywhere. The issue is that t-shirts are, unfortunately already being printed :(. But for the rest rollup, badges, etc we can still include you.

[2019-03-17 16:46] elioqoshi commented on #13
It seems the reason we were not included is because @ergish just went ahead with the list of logos you sent, which didn't include Ura. But it could also mean that this would not need being mentioned, I don't know, some miscommunication happened. No big deal though.

Cool, thanks. Let's update the other ones.

[2019-03-17 17:13] apiraino commented on #13
This is partly also my fault, so please accept my apologies.

[2019-03-17 18:32] elioqoshi commented on #13
No worries at all. @ergish joined our team after the Rust Latam work started so he was not aware of all details like I was :)

[2019-03-18 11:29] ergish commented on #13
@spastorino @apiraino

Hi there,
Yes, I totally agree with the fact that the sponsor's logos can be bigger. Please, check out the new posters and badges.

Notice that in the Roll Up Banner I didn't want to combine the sponsors of different categories (gold/silver/bronze) in the same rows. So, because of the banner's width, I can not make the logos bigger than the attached version. Let me know what

[2019-03-18 11:40] spastorino commented on #13
@ergish this looks better. The posters are fine, at some point we need to hand you the text we are going to use. For the rollups that goes without text. It's just conference logo + sponsors. So we probably need sponsors logos to be bigger.

[2019-03-18 12:01] ergish commented on #13
@spastorino Yes, if you can provide the text that would be great!
In the attached folder I have added another rollup with bigger logos. We can use this one for the rollups that go without text.
[Rust Latam 2019 - Delivery 6 - Badge + Posters.zip](https://github.com/uracreative/works/files/2977908/Rust.Latam.2019.-.Delivery.6.-.Badge.%2B.Posters.zip)

[2019-03-18 14:08] spastorino commented on #13
Yeah, this is cool. We will get back to you in some hours about the text and all that.

[2019-03-18 18:35] spastorino commented on #13
@ergish [here](https://docs.google.com/document/d/1vWisLFL_hsEYZczViva7QYdF-p1ioMwrottZoJuSBjA) is the exact text and QR we want to use for the posters.

[2019-03-19 10:35] elioqoshi commented on #26
We delivered these proposals after 4 revisions. OpenArchive is eventually doing changes on their own as none of the proposals worked for them.

[2019-03-19 10:35] #26 closed

[2019-03-19 11:07] elioqoshi commented on #20
This is delivered, thanks!

[2019-03-19 11:07] #20 closed

[2019-03-19 11:08] elioqoshi commented on #12
The only thing left here is doing Usability Testing for the Remote Add Contacts and Image attachments after these have been implemented in the protocol. That might take some time

[2019-03-19 13:47] spastorino commented on #13
@ergish did you have a change to go over the text?. Let me know if trying to use the text in a way like that gives you troubles we may be able to change that.

[2019-03-19 14:33] elioqoshi opened #29 "HTTPS Everywhere - Redesign & Testing"
## Scope

We will provide Usability and Design services to HTTPS Everywhere, concluding of following:
● User research and survey to understand the current state of the extension better
● Inventory List /Sitemap of all features in the extension
● Design Mockups & Interactive Prototype
● Usability + A/B Testing of current extension compared to new proposed design
● Mockup Revisions based on Usabilit

[2019-03-19 16:21] elioqoshi commented on #29
@glenn-sorrentino 's original UX audit and design can be tracked here https://github.com/EFForg/https-everywhere/issues/16669

[2019-03-19 20:41] spastorino commented on #13
@ergish btw, besides the posters thing, I've asked in previous comments, we have badges on pdf but we need the printing company to change where it says name and company and use there the actual attendee data. Can you also send us the ai or source file of the badge?.

/cc @elioqoshi

[2019-03-20 09:03] elioqoshi commented on #13
@spastorino We took off yesterday from work. We are addressing these today asap.

[2019-03-20 09:24] ergish commented on #13
@spastorino the PDF files we have sent can be opened and edited in Illustrator so it's the same as having the ai file.

[2019-03-20 09:37] apiraino commented on #13
ok thanks @ergish I'll try to open them in Inkscape and edit the Lorem Ispum text

[2019-03-20 11:22] elioqoshi commented on #29
@glenn-sorrentino would you be able to provide the design source files you originally used?

[2019-03-20 11:27] elioqoshi commented on #21
@onweru can you update us on the progress of this?

[2019-03-20 12:42] spastorino commented on #13
@ergish that would work great for the badges because that stuff is done by the printing company here. But can you send the poster with the text?, none of us have Illustrator unfortunately. If it's easy for you ... would be greatly appreciated :smile: :heart:

[2019-03-20 14:17] elioqoshi commented on #29
@zoracon do we have any user research or other details collected from the past? I recall something like that mentioned in our last call.

[2019-03-20 15:02] glenn-sorrentino commented on #29
You can find all of my files for this project here: https://keybase.pub/glennsorrentino/HTTPS%20Everywhere/

[2019-03-20 15:53] ergish commented on #13
@spastorino @apiraino I sent the PDF versions only because usually, who are going to print them, would work better with the PDF versions. I am adding the text now on the posters. I will send them shortly in PDF and SVG, the posters and the badges.

[2019-03-20 15:56] apiraino commented on #13
@ergish ok then: thank you so much!

[2019-03-20 15:57] elioqoshi commented on #29
Thanks, that's perfect @glenn-sorrentino

[2019-03-20 16:34] elioqoshi commented on #29
Some notes we took during some meetings:
https://pad.ura.design/p/HTTPS-Everywhere-OTF-Usability-Lab

To clarify some points from the notes:

- The Figma prototype won't support any accessibility features like screenreaders or keyboard control. We can only design (to some extent) having [WCAG 2.0 as a guideline](https://en.m.wikipedia.org/wiki/Web_Content_Accessibility_Guidelines). The actual acce

[2019-03-20 17:05] ergish commented on #13
@spastorino @apiraino
Now the zip contains PDF and SVG formats of the posters and the badge template.
The text in the posters is replaced.
Maybe the design can be rechecked (@elioqoshi let us know what you think and if you have any idea for a rearrangement of the poster components).
However, everything is editable. Cheers!
[Rust Latam 2019 - Delivery 7 - Badge + Posters with Text.zip](https://gith

[2019-03-20 17:07] ergish commented on #13
Also, please be careful about attaching the Fonts folder (Montserrat font) in the package for printing.

[2019-03-20 18:58] zoracon commented on #29
Here is a folder with 2 User Interviews and documents of some paper prototyping conducted by Soraya
https://drive.google.com/drive/folders/1E4FJNyAKQoiJeaUfOatBeu74jl2gYeu6?usp=sharing

Let me know if you can't view

[2019-03-20 20:34] elioqoshi commented on #29
@zoracon Thanks! The paper prototyping is what Soraya did during Underexposed where we talked and the kickoff for this work happened. The 2 documents are quite useful as well.

I had some help from a friend at Mozilla who is into accessibility. He tested out the current extension quickly with a screenreader and keyboard only. He will share his findings later I hope. From a quick testing session he

[2019-03-20 20:35] elioqoshi commented on #29
@zoracon Thanks! The paper prototyping is what Soraya did during Underexposed where we talked and the kickoff for this work happened. The 2 documents are quite useful as well.

I had some help from a colleague at Mozilla who is into accessibility. He tested out the current extension quickly with a screenreader and keyboard only. He will share his findings later I hope. From a quick testing session

[2019-03-26 14:35] RenataGegaj commented on #29
This is a draft for the survey we plan to conduct, please leave comments if you have anything to edit, add or remove

How much time do you spend browsing the internet?

- 1-5 hours
- 6-10 hours
- More

Is security and privacy something you are consciously aware of while browsing?

- Yes
- No

What do you know about privacy and security on the web?
How do you tell if a website you are currently usi

[2019-03-27 20:02] AnXh3L0 commented on #17
The visual identity for Oxidize Berlin is complete, now we're working on finalizing the website too.

[2019-03-27 20:03] AnXh3L0 commented on #28
The Oxidize website is now implemented in Jekyll, it is online here: https://oxidizeconf.com

![image](https://user-images.githubusercontent.com/25004151/55108383-c8e0ad80-50d3-11e9-863b-f4ea8fe220f1.png)

[2019-03-27 20:04] AnXh3L0 commented on #19
@intika please let us know if you have any update as I didn't receive an answer on Signal.

[2019-03-27 20:21] elioqoshi commented on #28
Sounds good. Let's close this issue once the schedule and speaker photos are final.

[2019-03-27 20:24] elioqoshi commented on #17
@AnXh3L0 not completely in fact. Sorry I meant to follow up here.

From what @jamesmunns  told me, we will still need:

- speaker announcement photos
- Name badges (can we somehow automate this process for doing all names @ergish ? )
- a roll-up design or two?

@ergish Could you take this on?

[2019-03-29 13:12] huhn511 commented on #25
Hi guys, how are you doing? I'm a member of the Nile team, just want to ask what are first steps for getting this started! Would love to get this running with you! Thanks!

[2019-03-29 13:42] elioqoshi commented on #25
@huhn511 Hi! We haven't received some follow-up on this since you reached out to us but we would be happy to start working on it. Do you have any vision or specifics you'd like Nile to look like or do you prefer for us to come up with something?

[2019-03-29 13:43] elioqoshi commented on #29
@holantonela do you have some feedback for the survey questions?

[2019-03-29 15:58] holantonela commented on #29
I think the questions are great. It will give you some idea about how familiar users are with privacy and security online and please, don't feel disappointed if that familiarity is very low.

Question 5 - Is it a multiple-answer multiple choice type of question? You will need checkbox there.
Question 7 - You may want to have needs options. You will get very random answers there.
Question 8 - I'd i

[2019-03-29 17:00] RenataGegaj commented on #29
@holantonela Great edits, I'll add them right now.

Yes, the questions with bullet points are all multiple choice and we'll replace them with checkboxes on the survey.

[2019-03-29 17:11] huhn511 commented on #25
Hi @elioqoshi!

Oh sorry! We have made some first design results with a contributing designer. We thought you don't have much time for a pro bono project, so we decided to make some work first. We would love to get some feedback for it!
All things are just suggestions and can be changed.

We would like to have something with the earth and the Nile river in the logo - but we are also open for new s

[2019-03-30 18:49] elioqoshi commented on #29
@RenataGegaj I'd suggest adding a 1-5 point option with "How concerned are you of your browsing always using a HTTPS connection" (might need improvements on the wording.

Can we say "What does SSL mean for you?" it might feel less like a school test question.

I'm not sure of the wording of this one. Also this should not be about privacy I suppose. Maybe "Is being on a secure connection something

[2019-03-30 18:52] elioqoshi commented on #29
Oh, how about:

"Do you want to join our Beta Testers Team? We might ask for your feedback again once we redesign the HTTPS Everywhere experience"

So we can get back to interested tester's later on without reaching out from scratch?

[2019-04-01 17:31] RenataGegaj commented on #29
Thanks for the feedback @elioqoshi I made the last edits and tested the draft in person with a user. Everything went smoothly, the survey is ready to be published

[2019-04-02 09:39] elioqoshi opened #30 "TeleIRC Logo"
https://github.com/RITlug/tasks/issues/116

We are creating a logo and some basic branding for TeleIRC, RITLUG's Telegram and IRC bridge tool.

[2019-04-02 15:06] spastorino commented on #13
This has reached to an end. Thanks so much for your work, we have gave you a special mention on stage too and said that you were the ones that made the design as cool as it is.

I have placed what you have on this repo on our Google Drive and added the updates you have been pushing to this issue. If it's useful for you to update the repo with the final stuff, I have that tidy up and can send to yo

[2019-04-03 11:37] huhn511 commented on #25
Hi guys,
how are you doing?

Here is some information about the actual state of the Nile CI. Would be nice if you can help with the logo and give us some feedback! (:

[https://medium.com/@svreiser/empowering-local-economies-a-case-study-5de1fc38305a
](https://medium.com/@svreiser/empowering-local-economies-a-case-study-5de1fc38305a
)
Let us know if you need anything else.
Thanks!

[2019-04-04 11:35] elioqoshi commented on #29
Survey here: https://oasis.sandstorm.io/grain/4r6jnb2vkkveFiyC78MjJQ/

[2019-04-08 02:25] richardbmx commented on #30
@elioqoshi  Hi, my name is Richard. I'm a graphic designer and I love making contributions for open source projects. I see that they want a new logo for your application. If you wish, I can do it for you without any problem ... I can present some modern ideas that would improve the appearance and image of your project

[2019-04-08 08:10] AnXh3L0 commented on #13
Hey @spastorino, hope you had a fantastic conference. Sorry for the delay on this, we were all travelling the past week.

That'd be great actually, thank you in advance.

[2019-04-08 08:18] elioqoshi commented on #30
@richardbmx Hi! Great to see some interest in this :)
Would love to have some additional ideas for this project. Basically it's a small tool which makes it easier to configure communication bridges between Telegram and IRC.

[2019-04-08 08:20] elioqoshi commented on #13
Thanks @spastorino it has been great working on this! I look forward to next year's edition :)

@ergish @AnXh3L0 could we add Rust Latam to our projects portfolio on our website as well?

[2019-04-08 09:37] marcocastignoli commented on #25
Hey @ergish, my idea for the logo is to rappresent [glocalization](https://en.wikipedia.org/wiki/Glocalization) and the nile river.

In this idea I wanted to rappresent the `simultaneous occurrence of both universalizing and particularizing tendencies in contemporary social, political, and economic systems. (from wikipedia)` using the Tao, that stands for the balance between the opposite. And the

[2019-04-08 14:02] jwflory commented on #30
Hi! I thought I would add some context and design motivation for our project here.

Teleirc is an open source project to connect IRC channels with Telegram groups. Our project is part of the [RIT Linux Users Group](https://ritlug.com/) (RITlug). Ura [previously created](https://github.com/uracreative/works/blob/b04609e391f983e2fc74fa0ad79ae9a4bef22f9a/RitLUG/SVG/vertical_color_with_wordmark.svg) t

[2019-04-08 14:07] richardbmx commented on #30
Perfect I'm going to work on some ideas to present

[2019-04-08 14:52] richardbmx commented on #30
I have related this idea which expresses the bridge between both app, with the symbol of Telegram giving the impression that jumps between both words, it is a simple clean design that adapts easily in any size or background color. I hope you like it if you want some change you just have to ask for it and I will do it.

![logo130](https://user-images.githubusercontent.com/35604837/55733654-305bfe80

[2019-04-09 07:47] elioqoshi commented on #30
@richardbmx Thanks for the proposal! I like where this is going :)

I have a few concerns though: the paperplane icon is too small to be recognized and I'm not sure if it's readable as TeleIRC. This might pose problems while keeping the bridge visual (I tried it myself and struggled too). I'd like @jwflory7 to chime in on this though as well :)

[2019-04-09 07:49] elioqoshi commented on #30
Here are 2 proposals from my side:

![image](https://user-images.githubusercontent.com/5436686/55782469-a58f0880-5aac-11e9-8ac2-c3f3e6a0fb9a.png)

What do you think?  the font type used is Inter which is an open font.

[2019-04-09 07:53] elioqoshi commented on #25
Thanks folks!

As we have some other pressing projects going on right now as well, we are able to provide some draft directions by next week and we can go from there :)

[2019-04-09 08:20] jwflory commented on #30
Hi all, I liked all of the drafts so far. I do agree with @elioqoshi that the first draft is difficult to read though. I liked @elioqoshi's bottom option with the paper airplane.

[2019-04-10 08:38] elioqoshi commented on #30
@jwflory Thanks for the feedback! Do you want to go ahead with that option then?

[2019-04-10 08:42] elioqoshi commented on #30
@jwflory like this:
![image](https://user-images.githubusercontent.com/5436686/55864764-654b8b00-5b7d-11e9-94d1-a3f02cd4229e.png)

[2019-04-10 17:17] jwflory commented on #30
I love this! :heart_eyes: I'll ask some of the other developers to weigh in with feedback, but I think this is what we are looking for.

[2019-04-10 19:42] elioqoshi commented on #29
We were made aware that the Sandstorm QuickSurvey had Accesssibility problems (ironically). We wanted to offer a Google Forms alternative for those who want to avoid using Google Form. However, it seems to be the best option right now while still being accessible. The link to the same survey, but on Google Form can be found here:

https://forms.gle/YZ9FCAA5UnypwvjY7

[2019-04-11 15:32] huhn511 commented on #25
No problem!. Just take your time @elioqoshi

We have a new website in the pipeline, you can give us some feedback if you want and find the time.

You can find it here for the moment: [https://demo.nile.community/](https://demo.nile.community/)

We will publish it, after we found the logo together, let us know if you need anything else!

Thanks for your help! ❤️

Have a nice weekend!

[2019-04-11 20:30] Tjzabel commented on #30
I love this as well! @elioqoshi would you also be able to do a second image/logo with just the blue emblem on the left without the words? It would be helpful to have both options available.

[2019-04-12 07:23] elioqoshi commented on #30
@Tjzabel sure, that's the default approach anyway, together with a vertical version as well. @AnXh3L0 could you help push these final files to our repo?

[2019-04-12 12:07] AnXh3L0 commented on #30
Sure, will push them to our repo asap.

[2019-04-12 17:12] AnXh3L0 commented on #30
@jwflory @Tjzabel Below you can find the assets, uploaded on our repo.

https://github.com/uracreative/works/tree/master/TeleIRC

[2019-04-12 20:01] Tjzabel commented on #30
@AnXh3L0 @elioqoshi thanks so much!! :tada: :tada:

[2019-04-12 20:49] jwflory commented on #30
This is fantastic, thanks so much everyone for your help on the logo! :tada: :tada:

[2019-04-13 09:45] elioqoshi commented on #30
Thanks folks! It would be appreciated if you can support Open Source Design on Open Collective :)
https://opencollective.com/opensourcedesign

And for the brochure, feel free to open up a request on the Jobs board:
https://opensourcedesign.net/jobs/

[2019-04-13 09:45] #30 closed

[2019-04-13 09:49] elioqoshi commented on #25
@huhn511 Great stuff! I'd however advise that the logo is not simply a mark to put on the left top corner, rather it should shape the whole branding experience. If you set the tone for the identity with the website, the logo loses a lot of power I'd say. Usually one expands from the logo into an identity, rather than derive the logo from a built identity. Just a thought.

@richardbmx would you lik

[2019-04-15 07:16] huhn511 commented on #25
@elioqoshi Cool, thanks for the nice input! Yes, that sounds right, we could place it for the planet on the website and just have a typographic "Nile" in the left top corner - or do you have other ideas?
We are open to your suggestions!

Thanks, have a nice week.

[2019-04-23 21:22] skade commented on #17
Okay, final bit: I need a couple of posters using the base design you have. Really simple ones.

1: A poster to hang by the speakers desk.
* Oxidize conference logo
* Created by Ferrous Systems
* Venue Sponsor: Thoughtworks
* Main sponsors: ARM, Decawave
* Design: Ura Creative

Please note that this will be visible in videos of the speakers desk, so it would be great if all this is a bit "Top-Heav

[2019-04-24 13:45] ergish commented on #17
@skade hi there,

The first poster for the speakers' desk is done.
I don't understand the second one. Should the schedule be included in one poster or do you need different posters for different locations there? How should the arrows be used?

[2019-04-24 16:38] skade commented on #17
@ergish Ah, sorry, it's one per item. So, for each a poster:

* 1 poster with just the words "Workshop Location"
* 1 poster with just the words "impl Days"
* 4 times an arrow, in each direction
* One poster with the schedule

[2019-04-25 06:54] skade commented on #17
@ergish sorry for this, but I forgot that "Mozilla" should be in the main sponsors on the first poster, too :).

[2019-04-25 12:34] ergish commented on #17
@skade in the zip folder you'll find all the mentioned posters. Let me know if everything is ok or if anything else is needed.

 [Oxidize-A2 posters.zip](https://github.com/uracreative/works/files/3116837/Oxidize-A2.posters.zip)

[2019-04-25 13:58] skade commented on #17
Perfect, thanks!

[2019-04-25 20:50] skade commented on #28
@elioqoshi we can also close this one :).

[2019-04-26 11:06] elioqoshi commented on #17
Thanks @skade see you at the conference :)

[2019-04-26 11:07] #17 closed

[2019-04-26 11:36] elioqoshi commented on #29
This is going well, we finished the first draft of the main doorhanger UI:
https://www.figma.com/file/Fv6ivAdU7z4MxG0jU5uOduFe/HTTPS-Everywhere-Redesign?node-id=13%3A26

Now we are tackling the UI in the Add-On Settings and hope to start some first user testing next week.

[2019-04-26 11:40] elioqoshi commented on #29
@RenataGegaj made a short report of the user survey  (32 responses) and we did a quick analysis of the survey results. These are too raw for publishing yet, but I'd suggest we publish them once it's a bit cleaned up and anonymized.

[2019-04-27 10:08] elioqoshi commented on #28
@skade Thanks!

For reference: https://oxidizeconf.com

Repo with the source code will be soon available.

[2019-04-27 10:08] #28 closed

[2019-05-03 08:38] theel0ja commented on #29
The new design doesn't fit to the extension window properly (Firefox 60.6.1esr)

`+` it requires extra clicks to find the Stable rules used in current one (and that doesn't fit to the window either)

![New design](https://user-images.githubusercontent.com/5832930/57127063-bd417000-6d7e-11e9-9718-37dc5fa95363.png)

old one shows it without extra clicks and scrolling:

![Old design](https://user-ima

[2019-05-03 08:42] theel0ja commented on #29
For example, macOS wastes much less space for buttons in Settings menu

![macOS Settings](https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fwww.imore.com%2Fsites%2Fimore.com%2Ffiles%2Fstyles%2Fxlarge%2Fpublic%2Ffield%2Fimage%2F2016%2F12%2Fgatekeeper-os-x-anywhere-setting.jpg%3Fitok%3DoD6g9MEo&sp=4a45b9228be48634745697a43388eb22)

[2019-05-03 08:43] theel0ja commented on #29
Even macOS wastes less space for button sizes

![](https://cdn1.tekrevue.com/wp-content/uploads/2018/09/macos-mojave-settings-dark-mode-light.png)

[2019-05-05 09:31] elioqoshi commented on #29
@theel0ja thanks for bringing this up but this issue is not about this latest version which is a minor redesign. I'd suggest you open these issues seperately in the relevant repo. cc @zoracon

The redesign in this issue is addressing a redesign beyond the changes of the last version.

[2019-05-06 04:04] zoracon commented on #29
@elioqoshi Sorry you're getting the overflow of backlash to the UI changes.
If anyone comes here with issues please file at https://github.com/EFForg/https-everywhere/issues

[2019-05-06 12:01] elioqoshi commented on #29
@zoracon no worries, just wanted to clarify as we might not have been clear about it in the issue before as well :)

[2019-05-08 16:58] elioqoshi commented on #13
@ergish @AnXh3L0 ping regarding the website portfolio :)
Closing this, thanks everyone!

[2019-05-08 16:58] #13 closed

[2019-05-27 14:48] elioqoshi commented on #29
@zoracon are the new temporary maintainers involved in this issue? We should really get started with the new prototype and the new design implemented.

[2019-06-18 09:06] AnXh3L0 commented on #19
Closing this for the moment because of the uncertain future of Librefox.

[2019-06-18 09:06] #19 closed

[2019-06-18 09:08] AnXh3L0 commented on #21
The Briar style guide system is being worked on and the current state of it is visible on this website: https://briar-styleguide.netlify.com/

At the moment, a draft version of the dark theme is working and some sections are still missing.

[2019-06-18 09:17] AnXh3L0 commented on #25
Seems this has been completed, if there is anything else needed, please let us know.

[2019-06-18 09:17] #25 closed

[2019-06-18 09:22] elioqoshi opened #31 "OTF Impacts and Outcomes Page Redesign"
We are redesigning and implementing the Impacts and Outcomes page to offer a more visually appealing experience for those who want to learn more about OTF support in the past.

This will look like a infographic and offer illustrations to accompany stats.

Design on Figma:  https://www.figma.com/file/NHrPwDhOz1aDbKy2eR93HR8m/Impacts-and-Outcomes?node-id=0%3A1

@ergish Will be helping out with Illus

[2019-06-21 17:29] elioqoshi commented on #29
There is a really good Firefox UX audit of the protection panels here:
https://mozilla.invisionapp.com/share/38S2U6FPFKD#/screens/359913354

This is a good base to do further iterations on the design.

[2019-06-22 17:15] elioqoshi commented on #29
I went ahead and did another iteration based on the work from the Firefox UX team as it's very close to patterns used in HTTPS Everywhere. I propose that we have one more feedback session on this iteration internally and do one more Usability testing session.

Here is the UX walkthrough of the next iteration:

https://www.figma.com/proto/Fv6ivAdU7z4MxG0jU5uOduFe/HTTPS-Everywhere-Redesign?node-id=3

[2019-07-04 13:09] elioqoshi commented on #31
thumbs up from @dmcdev1 on this so we are awaiting the first illustration draft from @ergish .

@dmcdev1 do you know if the CMS access for us is ready?

[2019-07-05 11:07] elioqoshi opened #32 "OTF Learning Lab Page"
This will be a child page of https://www.opentech.fund/results/ (called “Learnings”).

We want this page to be visually friendly and easy to navigate. We would want a nice header image and a few different “columns” categorizing the types of projects OTF supports. The headers for those would be:

- Projects

- Fellows

- Labs

- OTF (Meta)

under each header/block, we’d want space to list links to

[2019-07-05 12:43] elioqoshi opened #33 "GlobaLeaks Blog Post Visuals"
https://www.globaleaks.org/

We will be creating visuals for the OTF report for GlobaLeaks which will be in the form of a blog post on the OTF website.

[2019-08-15 10:02] RenataGegaj commented on #29
As we are rounding up HTTPS Everywhere redesign, I'm sharing here the data that we gathered from our survey. Listed here you can find a short paper the with conclusions from the results(on the pdf) or if you are interested in exploring the raw data, find that linked below(on the sheet link).
If you have any comments/questions please comment here, we'd love to discuss further...

I will share the f

[2019-09-04 01:56] zoracon commented on #29
One, outstanding job on not only utilizing feedback but using a well adjusted design pattern.

Things that really stand out as great improvements:

**Iconography** - The "disabled for this site" icon was a tough challenge and I believe this is a great iteration of it

**States**
Moving states into a more unified fashion helped clear up the ecology system of the extension itself.

There are many mo

[2019-09-06 08:06] elioqoshi commented on #29
@zoracon Thank you for the feedback and the kind words on the redesign!

Of course, please do.

Within the extension or separately on the EFF website? We can help with that if it's the former.

A few more things to note:

- It's updated on Figma but not in the exported image preview: we unified the 2 toggle buttons as that created a lot of confusion during user testing. In this new design we envis

[2019-09-06 08:07] elioqoshi commented on #29
Here is the updated Figma export on the redesign:

![image](https://user-images.githubusercontent.com/5436686/64411700-16ebdb00-d08e-11e9-83ce-3dc0aff4761f.png)

[2019-09-07 15:04] AnXh3L0 commented on #21
The style guide process is towards the end, dark theme has been fixed and branding page was added.

[2019-09-07 15:08] AnXh3L0 commented on #31
We now have access to the CMS and will begin implementing the design.

[2019-09-07 15:36] RenataGegaj commented on #12
We conducted several iterations of usability testings for Remote Add Contacts and Image attachments. The finalized work for Remote Add Contacts here: https://code.briarproject.org/briar/briar/issues/1235
and for Image attachments here: https://code.briarproject.org/briar/briar/issues/1243

[2019-09-08 11:20] elioqoshi commented on #33
Scope of Work has been sent, we are waiting to hear back now.

[2019-09-08 11:22] elioqoshi commented on #12
This work is wrapped up so we can close this.

[2019-09-08 11:22] #12 closed

[2019-09-10 09:46] elioqoshi opened #34 "Software Freedom Podcast Logo"
The FSFE asked us to create a logo/artwork for their upcoming Software Freedom Podcast.

A few remarks:

[2019-09-10 09:50] elioqoshi commented on #34
This is a draft proposal of mine:
![image](https://user-images.githubusercontent.com/5436686/64603795-37cf6b80-d3c1-11e9-82ff-2029a2274617.png)

[2019-09-14 15:43] ergish commented on #34
This is another version from me.
Considering the fact that we are dealing with a podcast series, I think an artwork would work better than an icon logo in the podcast lists.
The format is a 1x1 rectangle but considering the content, it can be easily adapted in any other format.

![FSFE Free Software Podcast - Logo-04](https://user-images.githubusercontent.com/44442505/64910355-af7cfd80-d715-11e9-9

[2019-09-14 17:36] ergish commented on #34
So here's another proposal. Considering the fact that we are dealing with a podcast series, I think it will need an art cover for its appearance in any podcast list.
![SOFTWARE FREEDOM PODCAST-01](https://user-images.githubusercontent.com/44442505/64911714-954b1b80-d725-11e9-9526-7b628fc03edb.png)

In any case, the graphic elements are also adjusted in these compositions, horizontal and vertical,

[2019-09-26 17:58] zoracon commented on #29
@elioqoshi Apologies for the delay in response. We have feedback internally from our design lead on HTTPSE, Soraya. Her feedback is below.

Once feedback is consolidated, we can reconnect. I'll be sure to watch this ticket more closely.

—
Hi Elio, Anxhelo, Renata and broader Ura design team!
I’m sorry it’s taken me a while to get back to you all! It takes me a while to read through things careful

[2019-09-29 15:43] ergish commented on #34
After the feedback here's a merged output keeping the nature of the colors from the first draft and the graphic elements of the second proposal.
![Software Freedom Podcast - Artwork-07](https://user-images.githubusercontent.com/44442505/65834934-85643780-e2e0-11e9-8d39-f19186aa44d1.jpg)

[2019-09-30 20:08] elioqoshi commented on #33
Scope of Work has been approved, we can go ahead with this now.

[2019-10-04 14:06] elioqoshi commented on #29
Thanks @zoracon ! We gathered all of the feedback and will address it soon. We will update you by the end of this month regarding a new revision.

In the meantime, there is more feedback from @epang who is a UX Designer at Mozilla:

![image](https://user-images.githubusercontent.com/5436686/66213888-e913a980-e6c0-11e9-9778-7983cc8b3081.png)

[2019-10-14 06:12] elioqoshi commented on #34
@ergish Is there a final decision on this yet?

[2019-10-14 06:20] elioqoshi commented on #21
After @akwizgran's final comments are implemented and a few other small tweaks, this is ready to go:
https://briar-styleguide.netlify.com/

We should wrap it up and eventually plan a separate effort to do some copywriting work and UI copy guideline section as well.

[2019-10-14 06:23] elioqoshi commented on #32
We kind of left this slip through the cracks. We should get back at this soon as it's a rather small effort as well.

[2019-10-14 06:27] elioqoshi commented on #21
@AnXh3L0 there are also some small issues with the actual color label color contrast ratio. You can detect them yourself with the Accessibility dev tools as well:

![image](https://user-images.githubusercontent.com/5436686/66732492-78a51f00-ee5c-11e9-8753-e6df56c67a59.png)

[2019-10-14 06:28] elioqoshi commented on #21
We might also want to add an illustration sub-section in the design section.

[2019-10-14 06:32] elioqoshi commented on #31
@saptaks has a draft of the implemented design ready here:
https://saptaks.blog/otf_impacts/

Next steps are fixing some small issues identified by @dmcdev1 and make the design responsive.

Figma Link:
https://www.figma.com/file/NHrPwDhOz1aDbKy2eR93HR8m/Impacts-and-Outcomes?node-id=0%3A1

[2019-10-14 08:44] elioqoshi commented on #31
I fixed some of the colors and added color styles to Figma:
https://www.figma.com/file/NHrPwDhOz1aDbKy2eR93HR8m/Impacts-and-Outcomes?node-id=489%3A521

@saptakS would it be too much hassle to update these color styles for consistency? Otherwise @AnXh3L0 can do it at the very end as well.

[2019-10-14 11:35] SaptakS commented on #31
Sure. I can do that. By updating color styles, do you mean updating the css class names according to the color styles or did you update some colors in the designs as well?

[2019-10-14 14:11] AnXh3L0 commented on #21
The comments from @akwizgran have been resolved and the changes have been pushed to the repo. The contrast has also been fixed and the illustration sub-section has been added to the design section.

[2019-10-14 15:58] elioqoshi commented on #31
Latter actually. I mostly unified and cleaned up the styles so every layer has a style assigned instead of a color hex code. I also fixed a few places where there were accessibility issues with the color contrast.

CSS Class names would be nice too, though OTF has no unified styling yet so not sure how it would be useful in the bigger picture.

[2019-10-14 17:48] elioqoshi commented on #21
Illustrations also added in Figma:
https://www.figma.com/file/G3OJOk3fs1VNUxYazj4Yb46A/Briar-Design-System?node-id=251%3A0

[2019-10-14 18:30] AnXh3L0 commented on #21
Illustrations are also pushed to the page.

[2019-10-16 14:54] elioqoshi commented on #21
This is ready now.
Latest feedback from the Briar team has been incorporated as well.

Preview here: https://briar-styleguide.netlify.com/
Repo here: https://briar-styleguide.netlify.com/

Migration to Briar's GitLab can start anytime soon.

[2019-10-18 09:11] IfeanyiEkperi commented on #34
My submission for the logo.

![20191018_100819](https://user-images.githubusercontent.com/6451526/67081736-a2798100-f18f-11e9-8b22-6892b06d9d52.jpg)

[2019-10-20 14:37] elioqoshi commented on #34
@IfeanyiEkperi Hi! Thanks for your contribution here! Unfortunately we already submitted a proposal which was chosen. Would you like to be involved in future projects however? Happy to chat.

[2019-10-20 18:26] IfeanyiEkperi commented on #34
Sure @elioqoshi. I really want to be involved more in helping Open Source with my skill.

A little guide would help

[2019-10-29 16:44] ergish opened #35 "Digital Security Guideline for HRCo - Guideline Book Design"
The Design of the Digital Security Guideline for HRCo consists of creating a clean, consistent, aesthetic look for the guideline book and it's readers, providing the entire book design, illustrating and graphically organizing its content in three languages: "English", "Afaan Oromoo" and"Amharic"

[2019-10-30 20:27] IfeanyiEkperi commented on #35
I wish to apply to work on this issue

[2019-10-31 18:09] elioqoshi commented on #35
@IfeanyiEkperi Hey, thanks for the interest, however this is a design task with a tight deadline so we are doing this internally. The process will be covered here however.

[2019-11-12 08:44] AnXh3L0 commented on #31
This work is now online in the Open Tech Fund website and can be viewed here: https://www.opentech.fund/results/impacts-and-outcomes/

[2019-11-12 09:08] elioqoshi commented on #31
Thanks everyone!

[2019-11-12 09:08] #31 closed

[2019-11-14 18:28] dmcdev1 commented on #31
Thanks everyone for your work on this page, it really turned out great!

On Tue, Nov 12, 2019 at 2:09 AM Elio Qoshi <notifications@github.com> wrote:

--
Communications Coordinator
Open Technology Fund | opentech.fund <https://www.opentech.fund/>
Twitter: @opentechfund <https://twitter.com/OpenTechFund>
*Subscribe *to OTF Today: Internet Freedom News
<https://fund.us10.list-manage.com/subscribe?u=

[2019-11-21 15:31] elioqoshi commented on #33
Mathew Wong from https://hyperfolk.design/ helped us with these illustrations. The GlobaLeaks team and us are very happy!

They are included here (source files with appropriate licensing will be cleared soon with the GlobaLeaks team.

![Ura - GlobaLeaks_HeroImage-min](https://user-images.githubusercontent.com/5436686/69351891-4917dc80-0c7c-11ea-89cf-d18b5e750651.png)

![Ura_Design-GlobaLeaks-Spot]

[2019-12-03 11:05] elioqoshi commented on #34
This is wrapped up, thanks :)

@IfeanyiEkperi if you like we can talk more on https://discourse.opensourcedesign.net !

[2019-12-03 11:05] #34 closed

[2019-12-03 11:08] elioqoshi commented on #21
@AnXh3L0 I am awaiting Michael's response to migrate the style guide to Briar's GitLab and publish it. We can close this issue afterwards.

[2019-12-03 13:28] elioqoshi commented on #32
The first iteration is ready here:
https://www.figma.com/file/2oNmKlS8toPyBUPPJiL1kb/OTF-Learning-Lab-Page?node-id=1%3A17

![Full Page Original](https://user-images.githubusercontent.com/5436686/70054962-da6e4380-15d8-11ea-833a-380adbda313d.jpg)

For reference, this is Dan's mockup this is based on.

If this is good to go we can coordinate with @frjo to deploy this I assume.

[2019-12-03 13:59] RenataGegaj opened #36 "Global Leaks Redesign"
## Scope of work
Our work will help GlobaLeaks further improve its user experience by providing usability and design services in four phases:

### User research
Deliverables:
* Report and recommendations based on qualitative research
* Participants and findings will be anonymized
* Report will be shareable openly
* Report will include process and methodology, as well as findings

### Usable securi

[2019-12-03 14:22] RenataGegaj commented on #36
We successfully completed the first two phases of the project!
* During the research phase, we conducted 8 interviews in total. Four recipient/admins, One admin Only and three potential whistleblowers. We interviewed people from Europe, Asia, and the US. Four of them were NGO and one corporate.

* We analyzed the results with the internal team and shared two reports, one for our research findings

[2019-12-04 19:30] dmcdev1 commented on #32
Thanks for sharing @elioqoshi. Feedback below:

- Regarding where this will go on the OTF site, it won't go on the Lab page itself but will live as a child page under Results/Learnings (just like the Impacts/Outcomes page): Home > Results & learnings > LEARNINGS
- So, in the the top portion where currently the draft shows the "Apply" button and the following 3 paragraphs, we won't have the apply b

[2019-12-19 20:33] elioqoshi commented on #32
@dmcdev1 Thanks! here is the next iteration:

https://www.figma.com/proto/2oNmKlS8toPyBUPPJiL1kb/OTF-Learning-Lab-Page?node-id=1%3A17&viewport=2238%2C1154%2C0.448428213596344&scaling=min-zoom

![Full Page Original](https://user-images.githubusercontent.com/5436686/71207370-03642900-22a7-11ea-8501-385a419131fa.jpg)

Regarding the banner: I think some not too serious doodles might fit here. What do

[2019-12-30 16:19] dmcdev1 commented on #32
I think that banner looks great! totally jibes with what I had in mind, thanks.

I'll bring this version back to the team and let you know if any additional requested changes come of that.

[2020-01-09 14:28] elioqoshi commented on #32
@dmcdev1 Shall we proceed with this?

[2020-01-10 21:04] dmcdev1 commented on #32
Thanks for checking on this @elioqoshi. The team thought it looked good so yes, please do proceed; thanks!

[2020-01-29 13:59] akwizgran commented on #21
Sorry for the slow follow-up @elioqoshi @AnXh3L0. The style guide looks great. Thanks for all your work on this.

I'll migrate the repo to code.briarproject.org. Is https://github.com/uracreative/briar-styleguide the current repo URL?

[2020-01-29 14:00] elioqoshi commented on #21
@akwizgran Thanks! Yeah that is the current one.

[2020-01-29 14:38] akwizgran commented on #21
@elioqoshi cloned to https://code.briarproject.org/briar/briar-styleguide

[2020-01-30 22:28] RenataGegaj commented on #36
As we are wrapping up the design phase, here are some updates on the progress so far:

- We started the redesign with an information architecture exercise. We gathered/analyzed the results  and used them to guide the layout
- Incorporated role-based access control on admin interface
- Created Low Fidelity sketches/wireframes for admin, recipient, and whistleblower interfaces
- Conducted three sess

[2020-02-06 09:16] elioqoshi commented on #36
First HiFi Prototype of the Home screen here:
https://www.figma.com/proto/OW4Xl74VlJIQu4GssFK9gX/GlobaLeaks-Design-System?node-id=50%3A826&viewport=557%2C247%2C0.39300379157066345&scaling=min-zoom

(toggle dashboard is interactive)

[2020-02-06 09:47] #33 closed

[2020-02-06 09:48] elioqoshi commented on #35
This has been published here:
https://www.localizationlab.org/blog/2020/2/4/digital-security-guideline-for-human-rights-defenders-and-journalists-in-ethiopia

[2020-02-06 09:48] #35 closed

[2020-02-06 09:49] #21 closed

[2020-02-06 09:52] elioqoshi commented on #32
This has been implemented and will be soon live on OTF once the content by the OTF team has been set in place :)

[2020-02-06 09:52] #32 closed

[2020-02-06 09:55] elioqoshi opened #37 "Thunderbird OTR Chat Usability Audit"
Thunderbird is currently testing a new feature call OTR (Off-the-record) chat. Thunderbird has millions of users worldwide, even in places where there is a great deal of government surveillance and suppression of free speech. OTR chat will allow a great deal of people to have encrypted conversations with one another using an open standard within auditable open source software.

As part of the OTF

[2020-02-06 21:17] dmcdev1 commented on #32
Hi Elio,

Just confirming from our end that the page is completed and lives in draft
form at present. Thanks again!

Dan

On Thu, Feb 6, 2020 at 2:52 AM Elio Qoshi <notifications@github.com> wrote:

--
Communications Coordinator
Open Technology Fund | opentech.fund <https://www.opentech.fund/>
Twitter: @opentechfund <https://twitter.com/OpenTechFund>
*Subscribe *to OTF Today: Internet Freedom News

[2020-02-07 16:20] RenataGegaj opened #38 "Global Leaks Website Redesign"
On continuing efforts to improve its user experience, we are working on redesigning Global Leaks website.  This is a brief summary of what we will be working on

### Research Phase
**Usability Evaluation:** We will start the project by evaluating the usability for the current site to help us identify user journey pain points and have them as reference points for future improvements

**Information

[2020-02-18 13:55] RenataGegaj opened #39 "I2P Console & Home Redesign: Identity and Values Workshop"
Continuing on the foundations of the tone of voice in 2018’s I2P style guide, we will conduct a workshop to further layout these values and drive consensus throughout the I2P project on the vision of the project and how it represents itself. These learnings will provide a set of values we will utilize during the later Rebranding phase.

Deliverables:
Document outlining a set of principles and valu

[2020-02-18 14:10] RenataGegaj opened #40 "I2P Console & Home Redesign: Expert Reviews"
In this first phase, Simply Secure will conduct usable security reviews and report back their findings to help support the upcoming process of creating a redesigned prototype of the I2P home console.

Deliverables:
Console Interface Review

[2020-02-18 14:13] RenataGegaj opened #41 "I2P Console & Home Redesign: Information Architecture Sprint"
With the help of Ura’s I2P Usability Study in 2018, and a dedicated two-day sprint, we will redesign the information architecture of the I2P console. A set of design principles and personas will be required as a prerequisite for this activity.

Deliverables:
Console Information Architecture recommendations
Website Information Architecture recommendations
Lead: Simply Secure

[2020-02-18 14:16] RenataGegaj opened #42 "I2P Console & Home Redesign: Branding Foundations Update"
With the learnings from Phase 3, we will start drafting proposals to incorporate the identity values outlined as a new brand. We will take into account the potentially problematic brand recognition of the project and come up with proposals to address these concerns. This work will include meetings with the I2P core team and various revisions throughout the design stage.

Deliverables:
New Brand Fo

[2020-02-18 14:19] RenataGegaj opened #43 "I2P Console & Home Redesign: Console Interface Redesign"
After the finished expert review (Phase 1) and Information Architecture Review (Phase 2) we will address the usability problems of the console interface. As part of this phase we aim to have a redesigned user experience for the console in the form of an interactive prototype.

Deliverables:
Design mockups and CSS specs for the console related interfaces
High Fidelity interactive console prototype

[2020-02-18 14:21] RenataGegaj opened #44 "I2P Console & Home Redesign: Console Interface Usability Testing"
Throughout the design stage of Phase 5, we will have at least 2 usability testing sessions to go through revisions of the design until we arrive with a polished result.

Deliverables:
Usability testing reports from each design revision

[2020-03-14 12:34] AnXh3L0 commented on #38
Inner pages have been filled with draft content provided by the GlobaLeaks team and graphics/illustrations are being worked on to be included in all pages.

[2020-03-25 17:15] georgiamoon commented on #41
@RenataGegaj can we add @bumbleblue here too?

[2020-03-25 17:16] georgiamoon commented on #40
Can we add @bumbleblue here too?

On Wed, Mar 25, 2020 at 12:32 PM Renata Gegaj <notifications@github.com>
wrote:

--
Georgia Bullen* (**she/her/they)*, @georgiamoon
<http://twitter.com/georgiamoon>
Executive Director, Simply Secure

<https://simplysecure.org>
*Join our community on slack <https://simsec.cc/joinslack>. Follow us on
Twitter <http://twitter.com/simplysecureorg>, Instagram
<http://in

[2020-03-25 17:35] RenataGegaj commented on #40
Yes, I tried to do that but the handle doesn't show up on the list. I think @bumbleblue should accept the invitation to be a collaborator first.

[2020-03-25 18:02] bumbleblue commented on #40
Yes I tried last week, but the link expired already. Could you send it again? Thanks!

[2020-03-26 15:23] elioqoshi commented on #40
Just invited you again @bumbleblue

[2020-04-07 10:02] elioqoshi commented on #37
This has been approved by OTF so we can go ahead with it. @RenataGegaj can you specify a timeline of this work?

[2020-04-07 10:04] elioqoshi commented on #29
Closing this and we can open up a new issue when the design is being implemented and the other changes can be addressed.

From the OTF side this has been wrapped up last year already.

[2020-04-07 10:04] #29 closed

[2020-04-07 10:10] elioqoshi commented on #36
We should probably create more issues in the future for such big projects :)

The Brand Guidelines are done:
https://send.firefox.com/download/3d4af62bb72a7c61/#bhAXZCMbn_AwDTgN8jttsA

There are some changes needed though, mostly these:

1. Use the Primary Blue instead of the dark blue on the first page
2. Change the pattern to the new logo on the background in the first page (2 people whispering)

[2020-04-07 10:10] elioqoshi commented on #23
This has never took off so closing this until there are new concrete plans.

[2020-04-07 10:10] #23 closed

[2020-04-07 10:48] elioqoshi commented on #39
Changed the effort as it took longer than 10 hours.

[2020-04-07 12:38] RenataGegaj commented on #39
We conducted the Identity&branding workshop and also created a complementary exercise/survey to go with it as we aimed to involve the community in this process.
We covered mission statement, tone of voice, personality also some style tips.
The next step is is to create a unique design and well-defined graphics that visually “speak” the same language as the brand and have the same personality trait

[2020-04-07 15:33] RenataGegaj commented on #40
Simply Secure conducted usable security reviews and reported their findings. The report uncovers usability issues for I2P Console as well as the I2P website home page, followed by recommendations on possible improvements.
See the full report here: [I2P Heuristics Review (SimSec).pdf](https://github.com/uracreative/works/files/4445483/I2P.Heuristics.Review.SimSec.pdf)

[2020-04-07 15:34] #40 closed

[2020-04-07 16:13] elioqoshi commented on #36
@teolf It seems that the colors used in the brand guideliens are different from the Hexcode. Is this maybe due to some CMYK conversion in the PDF?

If you check it here you can notice a slight difference between the color showed and the hexcode color:
<img width="726" alt="grafik" src="https://user-images.githubusercontent.com/5436686/78693358-6a135e00-78fb-11ea-8ba4-07cea673657d.png">

<img width

[2020-04-07 18:10] RenataGegaj opened #45 "Briar - User testing for transport toggles"
Will be conducting usability testing sessions for the following UI changes:

-   The bottom section of the navigation drawer, containing the Tor/wifi/Bluetooth icons, is now expandable
-   The expanded section contains switches for controlling whether Briar connects to contacts via Tor/wifi/Bluetooth
-   The settings for Tor and Bluetooth in the settings screen have been updated to reflect the exi

[2020-04-09 08:16] elioqoshi commented on #45
This should take less than 10 hours as the budget is for 1 day of testing.

[2020-04-09 09:45] teolf commented on #36
@elioqoshi I fixed the issues addressed above. The colors were affected by RGB to CMYK conversion.

Here is the updated file:
https://send.firefox.com/download/dd7d5fa3bf5bcfd6/#a-6Llb_WMax9L9DbDHQ2lw

[2020-04-10 10:19] AnXh3L0 commented on #38
After the creation of the GlobaLeaks branding guidelines, those guidelines (and changes revolving them) are being implemented in the site. During the weekend accessibility testing will be made and by Monday we should we ready to wrap the project if there is no more feedback from the GlobaLeaks team.

[2020-04-11 13:20] elioqoshi commented on #38
The new website is here btw:
https://newsite.globaleaks.org/

[2020-04-13 15:45] ergish commented on #42
After defining the Personality and the Voice of I2P we are proposing 5 directions for the new Brand and Visual Identity of I2P.

The files below contain:
1. Logo
2. Logo Alternations
3. Color Palette
4. Typography
5. Pattern as a composition of the visual components of the identity.

[I2P - Brand and Visual Identity - Proposal 1.pdf](https://github.com/uracreative/works/files/4470198/I2P.-.Brand.a

[2020-04-17 17:10] RenataGegaj commented on #38
I did a quick review of the site, it looks great 🎉I really like the design and the simplicity, I think it pairs well with GL overall branding. I'm leaving some suggestions here that I think would improve the user experience of the site.

<img width="731" alt="Screenshot 2020-04-17 at 12 20 48" src="https://user-images.githubusercontent.com/7413721/79595040-74451180-80de-11ea-921b-41f5924c395d.png"

[2020-04-20 16:17] elioqoshi commented on #36
@teolf Thanks!

Seems that link expired, here is the updated one:
https://send.firefox.com/download/1869e69cdff8785d/#OPS9knUnnuhZlv1FL6xb6g

[2020-04-20 17:19] AnXh3L0 commented on #38
Thank you Renata, your points have been addressed :)

[2020-04-20 18:36] elioqoshi commented on #38
@AnXh3L0 @RenataGegaj Thanks!

I have some style comments on the landing page which I handily exported to Pastel where I added comments for easier viewing.

https://usepastel.com/link/7q5e0/

[2020-04-21 14:51] RenataGegaj commented on #45
I conducted three remote user testing sessions for the new UI of transport toggles.
The approach to testing this was interviewing combined with usability testing instead of only usability testing where I would give a few tasks to users and observe whether they can accomplish them or not. I decided to do this way of testing because it gives more context to why the user is having issues using the fe

[2020-04-21 14:51] #45 closed

[2020-04-28 19:09] RenataGegaj commented on #37
We plan to conduct three remote usability testing sessions with six users in total. The testing will be with participants in pairs, where they will connect and exchange messages using Off The Record(OTR) encryption on Thunderbird client(beta version).
We have already started with participant recruiting and expect to conduct the sessions very soon.
You can find the testing guide and all the details

[2020-04-28 19:43] RenataGegaj commented on #41
We completed a two-day Information Architecture sprint. We redesigned the information architecture for I2P console and I2P website, also offered recommendations for improvements, some of them we are currently implementing on the console redesign.

Thank you Simply Secure for leading this phase and @bumbleblue for organizing awesome workshops!

@bumbleblue Is there any outcome from the workshops th

[2020-04-29 11:19] ergish commented on #42
The Brand and Visual Identity of I2P is decided and approved!

After getting feedback and discussing the symbols and colors that represent the I2P values and what makes it different, we have been working on one of the proposed brand directions (_previous comment_), finding the right balance in the brand colors to represent I2P personality and to be UI effective as well.

PDF Presentation:
[I2P - B

[2020-04-29 15:27] AnXh3L0 commented on #38
The GlobaLeaks team had some feedback and those were implemented/fixed in the latest version of the website. This is ready to be wrapped up.

[2020-04-29 15:32] AnXh3L0 commented on #42
After the new I2P brand approval, the style guide website will now be updated. The current last version of the style guide resides at https://uracreative.github.io/i2p-styleguide

[2020-05-05 23:25] AnXh3L0 commented on #42
The style guide now includes a dark theme and has been updated with the I2P Brand and assets.

[2020-05-05 23:56] AnXh3L0 commented on #38
The GlobaLeaks is in need of a few more illustrations to wrap up this work.

[2020-05-07 09:16] elioqoshi commented on #42
Thanks @AnXh3L0.

Let's continue with this next week when the dust has settled a bit.

[2020-05-07 09:49] AnXh3L0 commented on #42
Agreed, will resume work next week.

[2020-05-10 13:20] elioqoshi opened #46 "EmergenCITY Website Redesign & Development."
We are redesigning and developing in Jekyll the website of Emergencity:
https://www.emergencity.de/

## Plan
- Milan and Matthias provide us an initial Sitemap. We will work with them to sync the wireframes based on the sitemap.
- We are reviewing the branding to make sure it offers enough flexibility for our needs. That includes logos, color palette and typography. We will provide some various pr

[2020-05-10 14:40] elioqoshi commented on #38
[GlobaLeaks Brand Guidelines v3.0.pdf](https://github.com/uracreative/works/files/4605814/GlobaLeaks.Brand.Guidelines.v3.0.pdf)

Also updated the Brand Guidelines. Changes should have been implemented and our part of the work is completed here. Closing this issue.

[2020-05-10 14:40] #38 closed

[2020-05-10 14:45] elioqoshi commented on #44
I pushed the milestone a month further for this work to reflect our current realistic timeline.

[2020-05-10 14:46] elioqoshi commented on #41
@bumbleblue can you share the outcomes here for future reference? I suppose this issue is good to be closed afterwards?

[2020-05-10 22:49] evilaliv3 commented on #38
Thank you @elioqoshi for all the corrections on the brand guidelines, it seems all great.

Actually as for the website were reported some defects still to be corrected; hoping to help i've annotated them here. If you agree now that the site is pretty finalized i may try to fix them myself to start getting the know how on the website that will be necessary for further maintenance. I will eventually

[2020-05-11 09:23] RenataGegaj commented on #39
We did a few adjustments on WHY, HOW, WHAT statements, together with the I2P team. We are now reviewing and finalizing our work.

[2020-05-11 09:47] elioqoshi commented on #38
@evilaliv3 You are right with these points. I see you already implemented these changes yourself, right?

[2020-05-11 09:48] evilaliv3 commented on #38
They have been applied by @AnXh3L0. Its all great! Thank you

[2020-05-16 11:31] elioqoshi commented on #46
*@elioqoshi attached a* [message](https://chat.ura.design/ura-design/pl/dqxnroytabfxpdunkemsggauoh) *from @elioqoshi*
@channel We have a first draft of the home page wireframes ready. You can see it here:
https://www.figma.com/file/9QfVOD2soeXrDkvf71jipU/EmergenCITY?node-id=0%3A1

You can create an account on Figma to leave comments on specific parts and we can discuss and address them. Once we we

[2020-05-17 09:50] elioqoshi commented on #46
*@elioqoshi attached a* [message](https://chat.ura.design/ura-design/pl/oznc3ho5kbn9jgcdo7juxgggzc) *from @elioqoshi*
The first iterations of the logos can be found here: https://www.figma.com/file/9QfVOD2soeXrDkvf71jipU/EmergenCITY?node-id=21%3A12

There are 2 proposals, each with a few variations. Proposal 1 tries tro keep the current logo similarities as much as possible. I'd say this doesn't w

[2020-05-19 07:51] RenataGegaj opened #47 "Geocode Earth - Usability and Accessibility review"
This is a report for a heuristic review conducted for Geocode earth website
https://geocode.earth/
The review follows ten Usability Heuristics for User Interface Design by Nielsen Norman Group: https://www.nngroup.com/articles/ten-usability-heuristics/
Accessibility was tested using  https://accessibilityinsights.io/docs/en/web/overview
and manual keyboard testing

[2020-05-20 14:10] RenataGegaj commented on #47
<br />
<img width="1427" alt="Screenshot 2020-05-20 at 14 31 18" src="https://user-images.githubusercontent.com/7413721/82446239-94356f80-9aa6-11ea-81a5-1b65cf966c1d.png">
<br />
"API" it's considered a technical jargon and it's not familiar to all site visitors. Also, placed there on the nav bar as a single item, doesn't provide much context about the relation with Geocode Earth.
<br /> <br />
Re

[2020-05-20 15:58] RenataGegaj commented on #47
<img width="1438" alt="Screenshot 2020-05-20 at 16 36 13" src="https://user-images.githubusercontent.com/7413721/82463489-2f394400-9abd-11ea-977c-97ecb15075b6.png">
All interactive elements are reachable by keyboard(Tab) but their order it's not correct while testing with the extension. I tried going through them without the extension and it worked fine. It might be an error, not sure.
The "Give i

[2020-05-21 13:49] RenataGegaj commented on #43
We have the first wireframes for I2P browser extension here https://www.figma.com/file/LNmwJJaGmBXCVuiNI7xJf2/I2P-Extension?node-id=0%3A1

[2020-05-26 13:13] RenataGegaj commented on #41
@bumbleblue has already done a writeup on outcomes from the workshop. If you have anything you'd like to attach here pls let me know.

I'm closing this issue for now

[2020-05-26 13:13] #41 closed

[2020-05-26 15:16] bumbleblue commented on #41
[[I2P] IA Workshop All Boards.pdf](https://github.com/uracreative/works/files/4682928/I2P.IA.Workshop.All.Boards.pdf)
Here are all screen from the two workshops. I will also post the write-up when it's published! Thanks.

[2020-05-28 10:02] elioqoshi opened #48 "GIZ & openIMIS - Assets"
We are working with GIZ and openIMIS to create a design library for all communication and design assets in open file formats and licenses.

## About openIMIS:
https://openimis.org/

Health financing schemes require the highly efficient implementation of multiple and complex business processes.

Scheme operators in low- and middle-income countries struggle to achieve efficiencies in these schemes w

[2020-06-05 14:28] AnXh3L0 opened #49 "Cotech Hugo Website Implementation"
We are implementing the Cotech website in Hugo according to their mockups.
[cotech.de](https://cotech.de)

## Plan
- Mockups were provided beforehand, along with some of the assets.
- We start working on implementing the website using the Hugo static site generator.
- Next step is a feedback session in 2 weeks to finalize the website.

## Team
@AnXh3L0 will be implementing the website in Hugo.

##

[2020-06-06 14:26] elioqoshi commented on #37
The report can be found in the interim on Google Docs:
https://docs.google.com/document/d/1pzCUAdezvzG_86lid9xL2k2JODGyV9eERMo98qfuD-A/edit?ts=5e42a588#heading=h.3ps1rnhhqbqb

After proofreading it we plan to publish it on our website in the coming week.

[2020-06-07 09:48] elioqoshi commented on #47
Small usability error from my side here as well:

On the demo component one can easily look for places which works great:
<img width="610" alt="grafik" src="https://user-images.githubusercontent.com/5436686/83965511-80667780-a8b4-11ea-9070-3c2790497a28.png">

However, when the user selects one of the suggested places, the field gets auto filled and No suggested places are displayed:

<img width="6

[2020-06-29 21:15] elioqoshi commented on #48
now there is a central page for the openIMIS assets, it is found here: https://openimis.atlassian.net/wiki/spaces/OP/pages/1490649147/Design+Communication+Assets

You might notice that some files are missing

that's because, in my opinion, there needs to be a unification (of things such as icons used in presentations/graphics) before adding them to this central page

[2020-06-30 16:49] RenataGegaj commented on #37
This is the final version of the report, in pdf format: [Usability testing report for Thunderbird Chat and OTR encryption.pdf](https://github.com/uracreative/works/files/4853304/Usability.testing.report.for.Thunderbird.Chat.and.OTR.encryption.pdf)

[2020-06-30 16:50] #37 closed

[2020-06-30 17:02] RenataGegaj commented on #42
We've continually done adjustments based on feedback, see the latest iteration of the I2P style guide here: https://uracreative.github.io/i2p-styleguide/brand/

[2020-06-30 17:08] RenataGegaj commented on #43
We have done four iterations in total for the I2P browser extension. We experimented with different layouts, fixed usability issues, simplified the language, improved information layout, and added new features.
You can find the research information and low fidelity wireframes here: https://www.figma.com/file/LNmwJJaGmBXCVuiNI7xJf2/I2P-Extension?node-id=0%3A1

[2020-06-30 17:10] RenataGegaj commented on #43
We are also close to wrapping up the high fidelity design, we will get feedback and make final adjustments on the upcoming week.
See the current state of the design here: https://www.figma.com/file/AQOIrmP3NytQMr5nxzbZ8t/I2P-Extension?node-id=1%3A887

[2020-07-05 10:06] elioqoshi commented on #49
@AnXh3L0 can you update us on this please?

[2020-07-05 10:29] elioqoshi opened #50 "Election-Audits.org"
We are currently working with the team of Alex Halderman, a CSE professor at the University of Michigan.

The project is about Risk-Limiting Audits.

tl;dr: In the US, states have very different approaches on how they audit ballots. This website would give a good overview on how policies differ from state to state and explain things a bit better.

As it's a time-sensitive issue, we were hoping to

[2020-07-05 10:39] AnXh3L0 commented on #49
The 2nd round of feedback and iterations has been completed this Friday and content is being added as we speak by the Cotech team. The current live preview of the site can be explored at this link https://epic-engelbart-5e7acf.netlify.app/.

Work can be considered done and issue closed.

[2020-07-05 10:39] #49 closed

[2020-07-05 10:55] AnXh3L0 commented on #48
After the last call with GIZ, the new assets page has been implemented and available at the same link as above, https://openimis.atlassian.net/wiki/spaces/OP/pages/1490649147/Design+Communication+Assets.

This page now contains an overview of all the current assets openIMIS uses and serve as a basis for creating new content in the future. This part of the project has been finished.

[2020-07-05 10:55] #48 closed

[2020-07-13 19:11] RenataGegaj commented on #43
We did a final iteration on the extension design. We improved the overall layout and simplified the information hierarchy for bandwidth and connection details. We also revisited other smaller visual components like buttons, alerts, and cleaned up the home screen.
After some final polishing, we plan to wrap up all the work by the end of this week.
Here is the latest version of the design:
https://w

[2020-07-13 19:24] RenataGegaj commented on #39
We refined  WHY, HOW, WHAT statements, and went through tone of voice and personality once more, to make sure it all ties in well. You can find everything related to I2P Identity on the attachment below, we will also include it on the I2P style guide very soon.
[I2P - Brand and Identity Brief - V2.pdf](https://github.com/uracreative/works/files/4914640/I2P.-.Brand.and.Identity.Brief.-.V2.pdf)

[2020-07-14 14:53] RenataGegaj opened #51 "Thunderbird Enigmail to OpenPGP Migration Audit"
Thunderbird is being totally re-written in a way that is breaking current plugins/extensions - such as Enigmail. Timeline wise, the current Thunderbird 68.x versions (the current and last version to support Enigmail) will only be maintained until Fall 2020. The good news is that Thunderbird is planning on building OpenPGP support directly in to Thunderbird. When Thunderbird switches its main versi

[2020-07-14 15:07] RenataGegaj commented on #51
We started our work on phase one by conducting expert reviews for both interfaces, Enigmail, and current implementation of OpenPGP on Thunderbird. We went through user a few use cases and basic tasks that novice and advanced users would typically perform. We compared the user flow on both of them, evaluated their usability, and reported bugs we found along the way.

On the second phase, we conduct

[2020-07-15 13:37] elioqoshi commented on #43
Here is a preview of the latest version:

![image](https://user-images.githubusercontent.com/5436686/87551786-2033d400-c6b1-11ea-8f5b-485de836dba5.png)

[2020-07-16 13:46] elioqoshi commented on #47
This can be closed, thanks!

[2020-07-16 13:46] #47 closed

[2020-07-16 13:47] #36 closed

[2020-07-16 14:00] elioqoshi opened #52 "GlobaLeaks Website Illustrations"
We worked with Mathew Wong (https://hyperfolk.design ) on the new set of GlobaLeaks illustrations as part of the new GlobaLeaks website relaunch. OTF is supporting this work and also including these in the brand guidelines for further usage. The illustrations can be seen here:

![GL Illustrations](https://user-images.githubusercontent.com/5436686/87679209-2fcc1f00-c77c-11ea-9161-b4b77e8c9d37.png)

[2020-07-16 15:24] elioqoshi commented on #52
Here are the updated Brand Guidelines: [GlobaLeaks Brand Guidelines v5.pdf](https://github.com/uracreative/works/files/4932194/GlobaLeaks.Brand.Guidelines.v5.pdf)

[2020-07-28 08:18] IfeanyiEkperi commented on #52
Awesome work

[2020-08-12 17:02] RenataGegaj commented on #51
Over the last few weeks, we've been working on improving the UI issues we found on our heuristic review while supporting the Thunderbird UX team on design decisions, user flows, iconography, accessibility checks, string suggestions etc.
Here are some issues we've been focusing on lately:

- [OpenPGP] Improve the UI and UX of Key Manager - https://bugzilla.mozilla.org/show_bug.cgi?id=1652537
Here's

[2020-09-03 09:59] rudolfburgaj opened #53 "REScala Brand Identity/Website design & Development."
We are developing the brand for a programming framework called REScala. Then we will be redesigning and developing in Jekyll the new website:
https://www.rescala-lang.com/

## Plan

-  After Annette and Mira provide us with the new name we will develop the brand: that includes logos, color palette, and typography. We will provide some various proposals afterward and apply the updated branding afte

[2020-09-16 20:31] elioqoshi opened #54 "knurling-rs logo"
@jamesmunns from Ferrous Systems (Oxidize and Embedded Rust) reached out regarding a logo request for knurling-rs, a rust project (a joke on knurling, which helps to put an "ergonomic handle" on "bare metal").

They are expecting to launch a landing page soon and would like to have a logo for it and GitHub profiles, together with the color scheme for future usage. The typography used will be the s

[2020-09-16 20:41] elioqoshi commented on #54
@jamesmunns

Here is the first draft with 2 (similar) directions in different color schemes. A knurled (?) surface within the body of a cog or a bolt. These were the strongest visual metaphors in my view without overloading the logo with too many visual references.

Let me know which direction you prefer and what you might feel needs tweaked.

Figma link:
https://www.figma.com/proto/6vw89Co6vtGVp7

[2020-09-16 20:47] jamesmunns commented on #54
I'll give more feedback and share with the team tomorrow, but I *love* the "A" variant already, particularly with the dark background where you can see the color contrast.

[2020-09-17 09:57] Lotterleben commented on #54
Personal opinion: Love it. I'm super enthusiastic about how the colours look on the dark surface! If we wanted to do a lighter theme I'd personally vote for something with a less stark contrast than a pure white background (maybe even a monochromatic approach?) if that makes sense design-wise. Regarding the logo versions, I like both :)

[2020-09-17 10:05] elioqoshi commented on #54
@Lotterleben Thanks!

Good point regarding the background. Here are 2 examples in a light background in different corresponding colors.

![Color](https://user-images.githubusercontent.com/5436686/93456508-0fd0ed00-f8de-11ea-9fc4-f95a82a038f1.jpg)
![Light](https://user-images.githubusercontent.com/5436686/93456525-13fd0a80-f8de-11ea-8bfd-dac5e3b3893f.jpg)

We can play around with color application

[2020-09-17 12:23] jamesmunns commented on #54
Hey Elio, I'm not sure if we have a particular color scheme in mind, one of the things that you gave us for the Oxidize logo was a "palette" of colors, and it has been really useful to have when using the logo in different context.

For this, I don't think we need a single "canonical" color, if it wouldn't be too much trouble, I think we would appreciate a couple "complimentary colors" for each co

[2020-09-17 13:46] Mirabellensaft commented on #54
I really like the A variant of the logo too,  And +1 to the non-white background.

[2020-09-17 14:38] elioqoshi commented on #54
@jamesmunns Sure happy to do that. I mean a logo can be flexible depending on application. So monochrome white and black is usually a given. Deciding what shades the color version will have is a priority. Of course there can be also colors which are not present in the actual logo but elsewhere in the brand, like on a landing page.

I experimented a bit with colors and came up with a landing page e

[2020-09-17 14:47] elioqoshi commented on #54
Here is also a Twitter example
![Twitter](https://user-images.githubusercontent.com/5436686/93487322-6ef62800-f905-11ea-88d2-5a4db6ec85fa.jpg)

[2020-09-17 17:35] jamesmunns commented on #54
It would be good to also see the Orange/Yellow one, and the colors you would pick for that. Maybe dark orange logo, light orange/yellow background, and a darker shade for the grid background?

I do like the Pink + Purple combo. I also like the background mesh pattern!

Speaking honestly, I'm probably not the right person stylistically to ask for color combos :sweat_smile:

Let me know if you want

[2020-09-18 06:48] elioqoshi commented on #54
@jamesmunns Sure, here is a yellow/indigo combo:

![Landing Page C](https://user-images.githubusercontent.com/5436686/93565353-82e46d00-f98b-11ea-9f67-f6eba12d1661.jpg)

![Landing Page D](https://user-images.githubusercontent.com/5436686/93565215-457fdf80-f98b-11ea-801c-6473f352acbf.jpg)

I think both are viable alternatives, though I prefer the magenta/purple combo as it looks approachable, fun a

[2020-09-18 06:54] elioqoshi commented on #54
Here is a preview of the logo exports for the magenta option:
![image](https://user-images.githubusercontent.com/5436686/93565992-8cbaa000-f98c-11ea-9fdf-82dfc8adc05e.png)

[2020-09-18 07:13] elioqoshi opened #55 "hessian.AI Landing Page"
Technical University of Darmstadt asked us to design a landing page for Hessian.AI, an academic center for Artificial Intelligence. Their current version is here:

https://ml-research.github.io/d2ai/index.html

I came up with a refresh and slightly better layout on Figma:
https://www.figma.com/file/V86kAEobFylOfSk5gpRn2m/Hessian.ai?node-id=3%3A278

Layout will be finished by Monday 21st September.

[2020-09-18 07:14] elioqoshi commented on #55
The team decided to go wqith the light orange direction:
https://www.figma.com/file/V86kAEobFylOfSk5gpRn2m/Hessian.ai?node-id=7%3A6

![7](https://user-images.githubusercontent.com/5436686/93567646-4155c100-f98f-11ea-8427-7a8898bf10db.jpg)

Will do some more polishing on the layout and offer mobile layouts so @SaptakS can start development next week.

[2020-09-18 09:06] Lotterleben commented on #54
Personally, I think the Purple/Magenta combo is pretty, but in our context a bit too.. on the nose. While I am a big lover of all things pink (typing this wearing a pink dress sitting on a pink couch :D), this color combo calls to mind "we wanted to include women, so we made it pink!" tech initiatives which usually go wrong for a number of reasons and I wouldn't want knurling to evoke these kinds

[2020-09-18 09:12] elioqoshi commented on #54
@Lotterleben That's fair! My thinking was more on the ergonomical side of knurling patterns and making it very easy-going. Might have gone overboard though. The thing about magenta is that organizations are wary of it and go the safe route with blue and other cold colors. At the end of the day T-Mobile owns magenta and is able to not reflect a super feminine identity.

I am comfortable with going

[2020-09-18 13:10] elioqoshi commented on #54
After having a call with @Mirabellensaft and @jamesmunns we experimented on some color schemes and layouts and came up with this style for both light and dark theme.

Let me know if you have any last thoughts, otherwise I will go ahead with exporting the assets on Monday for final delivery :)

![Finalist A](https://user-images.githubusercontent.com/5436686/93601002-ce653e00-f9c0-11ea-83ca-ea6cae40

[2020-09-18 14:41] #44 closed

[2020-09-18 15:05] jamesmunns commented on #54
Hey @elioqoshi, consider it accepted from our side!

[2020-09-19 09:10] elioqoshi commented on #54
@jamesmunns Great!

Here is the zip archive with the logos, colors and the diamond pattern.

You can also inspect the Figma file if you want to check out the landing page experimentations:
https://www.figma.com/file/6vw89Co6vtGVp7jIgJSHnc/knurling-rs?node-id=37%3A37
[knurling-rs.zip](https://github.com/uracreative/works/files/5249403/knurling-rs.zip)

[2020-09-22 10:59] elioqoshi commented on #54
Closing this issue as this work has been finished. Thank you!

[2020-09-22 10:59] #54 closed

[2020-09-22 11:02] AnXh3L0 commented on #46
The EmergenCITY website has now been completed and it will be live soon at the link https://emergencity.de. A screenshot of the homepage is below.
![image](https://user-images.githubusercontent.com/25004151/93874590-df20f700-fcd3-11ea-83c6-7ab3445f3f14.png)

[2020-09-22 11:02] #46 closed

[2020-09-22 11:05] AnXh3L0 commented on #52
The illustrations have been implemented in the the new globaleaks.org website. This work is done.

[2020-09-22 11:05] #52 closed

[2020-09-22 11:35] RenataGegaj commented on #51
As we are wrapping up our work on Thunderbird Enigmail to OpenPGP Migration audit, will revisit our timeline, goals, and improvements made throughout these months.
We have been constantly collaborating with the Thunderbird team, to follow the latest issues, help with suggestions for UX related issues of OpenPGP integration. After going through iterations of UX work and being available on Thunderbi

[2020-09-22 17:33] elioqoshi commented on #55
We are going ahead with the purple/indigo theme.

![1](https://user-images.githubusercontent.com/5436686/93909207-d1816680-fcff-11ea-944e-9ad3a39140b4.jpg)

[2020-09-23 10:53] #51 closed

[2020-11-16 12:18] AnXh3L0 commented on #53
The REScala website project is close to completion, current status is available in the following link: https://uracreative.github.io/rescala/ and a few screenshots following below.

![image](https://user-images.githubusercontent.com/25004151/99251714-1c09f580-280e-11eb-8b93-66281252a2fa.png)

![image](https://user-images.githubusercontent.com/25004151/99251732-22986d00-280e-11eb-838b-83540bb639b3.

[2020-11-18 20:07] AnXh3L0 commented on #55
This project has been completed and is live at https://hessian.ai. Closing issue.

[2020-11-18 20:07] #55 closed

[2020-11-18 20:10] AnXh3L0 commented on #53
This project has been completed and the assets have been delivered. The new website will be live soon over at https://www.rescala-lang.com

[2020-11-18 20:10] #53 closed

[2020-11-19 12:35] AnXh3L0 opened #56 "COTECH Hardware Security SDK website improvements"
We are implementing changes requested by the COTECH team in the Hardware Security SDK Hugo website according to their mockups.
[hwsecurity.dev](https://hwsecurity.dev)

## Plan
- Mockups are being provided along the development, along with some of the assets.
- We start working on implementing the changes in the current Hugo website.
- Next step is a feedback session to work on iterations and to m

[2020-11-26 09:44] gilescope opened #57 "Rust LDN"
Rust London is a meetup community of developers interested in the programming language. It
serves as a showcase for people already using it and for newcomers to meet in a casual
environment.
The purpose of Rust London is to create a space where people can present what they are
working on with Rust, and learn from each other.

## Our challenge:

The goal of the community is to grow - the community

[2020-12-04 15:59] ergishkelzeni commented on #57
Hi @gilescope

Ergi from Ura Design here.
Glad to virtually meet you and happy to work on another Rust project.

I and @elioqoshi have been working on four logo directions for the Rust London community which are all a graphic combination of the Rust logo and British/London elements.

Logo proposals here:

[Rust_London_Logo_1.pdf](https://github.com/uracreative/works/files/5643736/Rust_London_Logo_

[2020-12-07 21:55] gilescope commented on #57
I've talked with quite a few of the team and they are all very keen on option 3 (big ben). They love the font and the colours and the icon - this is great work - thank you!

[2020-12-08 08:55] elioqoshi commented on #57
@gilescope That's very kind, thanks!

Should we go ahead and export the logo files for you?

[2020-12-08 13:52] ergishkelzeni commented on #57
Thank you @gilescope! We are glad!

As @elioqoshi mentioned, please let us know if you want us to export the logo files and meanwhile start exploring the visual language for the covers.

[2020-12-09 11:11] gilescope commented on #57
Yes please - full steam ahead!

[2020-12-14 19:59] ergishkelzeni commented on #57
Hi @gilescope

You will find the branded images for Rust London [here](https://cloud.ura.design/s/Xk53DCCJn2zLbCj).

Included:
- Exported logo files (PNG/SVG)
- Avatars for the social media profiles mentioned above
- Various designed covers for the social media profiles mentioned above

Regarding the covers, we personally suggest using the last designed cover for each platform for a more unique st

[2020-12-19 05:47] gilescope commented on #57
Really interesting cover designs! For the covers is there a figma `board` that you could share with us?

Will see sound them out with people - I _really _like quite a few of the ideas in the covers. Very striking.

[2020-12-21 10:03] ergishkelzeni commented on #57
Hi @gilescope

Figma link [here](https://www.figma.com/file/WZTHHbijn0rreJcOrrWUNB/Logo?node-id=45%3A0), containing the logos and the covers.

[2021-01-16 10:44] AnXh3L0 commented on #56
This project has been finalized mid December and is now online at https://hwsecurity.dev. A preview of the page is as below.

![image](https://user-images.githubusercontent.com/25004151/104809810-33eefd00-57f0-11eb-8fef-019ba3e9bf31.png)

[2021-01-16 10:44] #56 closed

[2021-06-09 13:20] ergishkelzeni opened #58 "Team Community | Style & Accessibility Guidelines"
We have been working with [Team Community](https://www.digitalrights.community/) to provide a visual identity for better accessibility, readability, and consistency in style.

We helped with the colors, making sure the system we designed is flexible and offers colors for the logo, the text content and also in the supportive graphics. The new fonts also have a modern/funky character with the right

[2021-06-09 13:34] ergishkelzeni opened #59 "Understanding India’s Troubling Rise in Internet Shutdowns | Report Layout Design"
Presenting here a work in progress.

We have been helping with the style and layout design of the report titled "**Understanding India’s Troubling Rise in Internet Shutdowns**" written by **Kris Ruijgrok**.

Here's the fourth draft of the report (last but not final): [India's Internet Shutdown draft4.pdf](https://github.com/uracreative/works/files/6624027/India.s.Internet.Shutdown.draft4.pdf)

The

[2021-06-11 11:24] ergishkelzeni commented on #59
After applying the last minor changes,  the layout design of the report is finalized and delivered.
[Understanding India’s Troubling Rise in Internet Shutdowns - Kris Ruijgrok - June 2021.pdf](https://github.com/uracreative/works/files/6637954/Understanding.India.s.Troubling.Rise.in.Internet.Shutdowns.-.Kris.Ruijgrok.-.June.2021.pdf)

[2021-06-14 14:14] RenataGegaj opened #60 "Nextcoud Forms - Usability Evaluation"

[2021-06-14 15:56] RenataGegaj commented on #60
## This is a summary of our usability research efforts on Nextcloud Forms

**Phase 1: Heuristic Review**

In this first phase, we did a  heuristics review to surface common usability issues and shortcomings. This review included not only Nextcloud Forms, but also other parts of Nextcloud such as Talk, Sign up process, Docs, Tasks.

**Deliverables:**
Find the report here: https://www.notion.so/Next

[2021-06-21 04:29] ridhwn commented on #60
Hi, im one of the enterprise user of nextcloud. Im happy to help if you need tester on nextcloud forms because we also been actively using it. We have a planned to have a business case with upload feature in the forms. If you need any help do let us know. thank you

[2021-09-09 18:45] elioqoshi commented on #58
We also finished the Event Calendar and Jobs board which you can find on Figma:

Jobs Board:
https://www.figma.com/file/5DWl2hEqfzAwJa35x9o9BH/Digital-Rights-Team-Community-Style-Guide?node-id=328%3A2896

Event Calendar:
https://www.figma.com/file/5DWl2hEqfzAwJa35x9o9BH/Digital-Rights-Team-Community-Style-Guide?node-id=401%3A772

[2021-09-09 18:45] #58 closed

[2021-09-10 12:08] RenataGegaj opened #61 "User Research and Design for Thunderbird Onboarding(OpenPGP)"
### Phase 1, Research: Expert Review, competitive analysis, and user flows
- In this first phase, we reviewed the user flow and uncovered usability problems on the proposed onboarding design by the Thunderbird team. We tested all features that were already included on the Thunderbird daily release such as registering existing accounts, advanced options, connecting to linked services like Calendars

[2021-09-14 14:38] RenataGegaj opened #62 "Preparing and conducting stakeholder interviews"
This is the first part of the User research phase(phase 1) for Totem, including:
- Preparing and conducting interviews
- Interview results & observation report

[2021-09-14 14:40] RenataGegaj opened #63 "Heuristics Review"
This is the second part of user research phase(phase 1), including:
- Heuristic/Expert Review
- User Interviews

[2021-09-14 14:47] RenataGegaj opened #64 "Wireframes"

[2021-09-14 14:51] RenataGegaj opened #65 "Visual Design exploration & reviews"
This is phase 3 of the project, including:
- Visual design language explorations
- Stakeholder reviews + Iterations
- Brand guidelines

[2021-09-14 14:54] RenataGegaj opened #66 "Figma UI Mockups"
- UI/UX mockups(responsive)
- Usability Testing

[2021-09-24 12:42] ergishkelzeni opened #67 "Greatfire's Apple Censorship | Report Layout Design"
We have been helping with the visual style and layout design of the new research report of Greatfire's Apple Censorship. Also working in parallel for the brand and visual identity of Apple Censorship has been helping in creating and maintaining a visual consistency in both projects but with different traits, so both can have their own visual identity.

This is a work in progress. We have designed

[2021-10-03 15:09] #50 closed

[2021-10-03 15:09] #42 closed

[2021-10-03 15:10] #39 closed

[2021-10-03 15:10] #57 closed

[2021-10-03 15:10] #59 closed

[2021-10-03 15:10] #60 closed

[2021-10-15 15:36] elioqoshi opened #68 "Observation Shareout"

[2021-10-15 15:53] elioqoshi opened #69 "User Interviews"

[2021-10-15 15:57] elioqoshi opened #70 "Brand Guidelines"

[2021-10-15 16:31] elioqoshi opened #71 "Usability Testing"

[2021-10-15 16:59] elioqoshi opened #72 "Heuristics Review"

[2021-10-15 17:05] elioqoshi opened #73 "Stakeholder Interviews"

[2021-10-15 17:05] elioqoshi opened #74 "Heuristics Report"

[2021-10-15 17:05] elioqoshi opened #75 "Community Feedback Iterations"

[2021-10-15 17:09] elioqoshi opened #76 "Portfolio Use Case"

[2021-10-15 17:59] elioqoshi opened #77 "Stakeholder Interviews"

[2021-10-15 17:59] elioqoshi opened #78 "Interviews Observation Results"

[2021-10-15 17:59] elioqoshi opened #79 "Feature Coverage Research"

[2021-10-15 18:01] elioqoshi opened #80 "Card Sorting workshop & iterations"

[2021-10-15 18:01] elioqoshi opened #81 "Lean user stories"

[2021-10-15 18:01] elioqoshi opened #82 "User journey mapping"

[2021-10-15 18:01] elioqoshi opened #83 "Wireframing"

[2021-10-15 18:01] elioqoshi opened #84 "Moodboards"

[2021-10-15 18:01] elioqoshi opened #85 "Visual Design explorations"

[2021-10-15 18:01] elioqoshi opened #86 "Brand Guidelines"

[2021-10-15 18:01] elioqoshi opened #87 "Guided Installation Wizard UX"

[2021-10-15 18:01] elioqoshi opened #88 "Admin UI Figma Mockups"

[2021-10-15 18:01] elioqoshi opened #89 "Card Sorting"

[2021-10-15 18:01] elioqoshi opened #90 "Website Figma mockups"

[2021-10-15 18:09] elioqoshi opened #91 "Wizard UI Figma Mockups"

[2021-10-15 18:15] elioqoshi opened #92 "Website wireframes"

[2021-11-02 16:43] elioqoshi commented on #68
@RenataGegaj I think this is closed, can you summarize?

[2021-11-16 16:54] elioqoshi commented on #64
@smera18315 could you give us an update here on your status of the wireframes once you have something?

[2021-11-22 16:44] elioqoshi opened #93 "Illustrations"

[2021-11-22 16:45] elioqoshi opened #94 "Mobile Wallpapers"

[2021-11-22 16:45] elioqoshi opened #95 "Accessibility Audit"

[2021-11-22 16:47] ergishkelzeni commented on #93
After exploring different visual styles for the illustrations of CalyxOS, we agreed on the direction that would better visualize CalyxOS. We provided five different illustrations. Four of these, are designed to replace the current ones on their website, each illustrating the respective concepts. An extra illustration is provided, which can be used to replace one of the previous. These graphics are

[2021-11-22 16:52] ergishkelzeni commented on #94
We created a new visual direction and provided wallpapers for CalyxOS. Five sets of wallpapers were provided, with five images each, making a total of twenty-five images that can be used as background images for the CalyxOS phones.

These images aim to function as background images. So they have low contrast, big shapes, are blurry, without dark strokes, so they don't distract the user when browsi

[2021-11-22 17:05] elioqoshi opened #96 "Website Portfolio Page"
We should add the CalyxOS work to our portfolio.

[2021-11-22 22:11] axhakani commented on #95
## CalyxOS Accessibility Review

- In this phase, we reviewed the user flow and uncovered accessibility problems by different applications installed in the system.
- Then we did a detailed analysis on applications such as Datura Firewall, OpenKeychain, CalyxVPN and RiseupVPN. We identified common patterns that were confusing for the users including screen reader issues with instances of missing al

[2021-11-22 22:13] axhakani commented on #95
Here you can follow the project on FigJam
https://www.figma.com/file/o2hXguWkAYIVCTPSJXWrrh/CalyxOS-Accessibility-Report?node-id=0%3A1

[2021-11-23 16:44] elioqoshi commented on #87
@RenataGegaj a progress update on this?

[2021-11-23 16:54] elioqoshi commented on #91
Decided not to do mockups and keep them as wireframes to dev.

[2021-11-23 16:54] #91 closed

[2021-11-26 16:08] ergishkelzeni commented on #96
@elioqoshi @axhakani I designed the portfolio page in our Figma project. I am changing the status "In Review", so please take a look at it.

[2021-11-26 16:09] ergishkelzeni commented on #96
Ops, we do not have "In Review" here. :)

[2021-11-26 16:11] elioqoshi commented on #96
@ergishkelzeni Thanks! Added an "In Review" status to the project.

[2021-11-27 01:52] RidhamRj commented on #96
Sup?

[2021-11-27 18:33] elioqoshi commented on #96
@ergishkelzeni @axhakani did a quick proofread review on the text, good to go I think! Thanks!

[2021-11-27 18:33] #96 closed

[2021-11-29 08:40] elioqoshi opened #97 "Information Architecture / Card Sorting workshop"

[2021-11-29 08:45] elioqoshi opened #98 "Logo and Brand Exploration"

[2021-11-29 08:46] elioqoshi opened #99 "Brand Guidelines"

[2021-11-29 08:46] elioqoshi opened #100 "Wireframes"

[2021-11-29 08:46] elioqoshi opened #101 "High Fidelity Mockups"

[2021-11-29 08:46] elioqoshi opened #102 "Frontend Development"

[2021-11-29 08:46] elioqoshi opened #103 "Accessibility Audit"

[2021-12-01 10:25] elioqoshi opened #104 "Briefing with Totem team for interview preparations"

[2021-12-01 10:30] elioqoshi opened #105 "Retrospective call"

[2021-12-01 10:32] elioqoshi opened #106 "Launch strategy meeting"

[2021-12-01 10:33] elioqoshi opened #107 "Portfolio Page for Ura Website"

[2021-12-01 17:11] ergishkelzeni commented on #65
Hi everyone,

Updating the status of Totem's visual re-design phase:

We shared some proposals regarding the visual brand. These proposals aim to improve the accessibility of the website while setting a new visual identity and a UX system for Totem Project. These include:

**1. A proposal regarding the color system and typography, followed by web mockups to create an idea of their implementation.*

[2021-12-01 18:29] smera18315 commented on #64
The wireframes are up on Figma and can be accessed here: https://www.figma.com/file/SmmEpqNrVZtl0rxsg7BswW/Totem-Wireframes?node-id=4%3A295

[2021-12-06 13:43] RenataGegaj commented on #97
Together with CCT team members, we conducted an information architecture session for the new CCT website. We started by evaluating the current websites information layout and determining the direction for the new one.
I'm currently working on the prototypes for a few possible design directions and will share them soon.

[2021-12-06 14:37] RenataGegaj commented on #62
We kickstarted the design process with stakeholder interviews. At this point, we got to know the Totem project in-depth, we focused on extracting information from three main areas: User needs, design goals, and assessing technical limitations.

[2021-12-06 15:05] RenataGegaj commented on #63
In this step, I did an expert review on the current site and competitive analysis. Together with the Totem team, we discussed the results and decided on the site layout. You can find the details of the workshop on this link: https://www.figma.com/file/VUZywvcD3jzZviOyo5Vqw4/Expert-Review?node-id=0%3A1

[2021-12-07 16:15] elioqoshi commented on #64
Hey @tingeber, could you provide us some feedback on the wireframes so we can proceed with the next phases? If you prefer we can also schedule a call for @smera18315 to walk you through them.

[2021-12-07 16:20] elioqoshi commented on #65
@tingeber At which point do you think we can proceed with the logo direction feedback?

[2021-12-14 11:28] ergishkelzeni commented on #65
Hi @tingeber,

Just wondering if there's any update on deciding whether to keep the current logo or go with one of the proposed directions. Some feedback from your side would be appreciated so we know what you think would be best for Totem's brand identity, which would help us proceed with the preparation of the brand assets and the brand book.

[2021-12-14 15:24] rudolfburgaj commented on #92
The website wireframe can be accessed from the link below:
https://www.figma.com/file/fJrY1fUhvkwPVTrYn9y5Hd/UI?node-id=399%3A4350

[2021-12-17 06:44] tingeber commented on #92
The wireframes are looking great @rudolfburgaj ! I'll leave my comments here, so I have more space to write.

### General
Overall, we are very much on the right track. The look and feel is just right; it is consistent and visually pleasing, presents information simply, flows well. Some general reflections and questions:
- Can you tell me more about graphical elements? I am assuming they act both a

[2021-12-17 10:22] rudolfburgaj commented on #92
Thank you @tingeber for the detailed feedback!

### General
* Yes the graphical elements are serving as a placeholder for now. It might be a potential illustration style to develop as well.

### Top Menu
* When you scroll down the top menu can hide, and only show when the user scrolls up.

### Hero
* The illustration in the hero section, again serves as a placeholder, but it can be developed more.

[2021-12-21 12:12] tingeber commented on #90
Hi @rudolfburgaj thanks for the great chat yesterday; I updated the "Features" section of the content document. Content still to be finished; the revised structure is three sections:
- For Users
- For Admins
- For Developers

[2021-12-21 21:44] ergishkelzeni commented on #65
Hello @tingeber

We were thinking of delivering the visual assets we produced, without considering the new logos. Considering the fact that we wanted to propose new logos as a bonus with the new visual look, not being a main focus of the project, we are proceeding with this logo (below) which is slightly different from the one you currently use.
<br>
<img src="https://user-images.githubusercontent

[2021-12-22 11:04] ergishkelzeni commented on #70
After exploring and proposing a new visual style that helps in the improvement of the accessibility of the website and the brand identity of Totem Project in general, we built the Totem's Brand Book V. 01. This document holds the visual identity guidelines on how to use the essential brand assets based on the new style. It also ensures that Totem is correctly presented everywhere through its visua

[2022-01-02 13:07] elioqoshi commented on #70
We can close this for now and tackle any brand changes separately in the future.

[2022-01-02 13:07] #70 closed

[2022-01-02 13:08] elioqoshi commented on #65
Guidelines are prepared in: https://github.com/uracreative/works/issues/70

[2022-01-02 13:08] #65 closed

[2022-01-05 15:02] RenataGegaj commented on #87
I have wrapped up the work on the installation wizard for the admin and the member users.
You can find the mockups here: https://www.figma.com/file/QX4C6HjyPcwI9hNyUtIWse/Stackspin-Wizard?node-id=0%3A1
@tingeber if you'd like to revisit this later I'm happy to jump on a call or feel free to leave your comments here/figma.

[2022-01-05 15:02] #87 closed

[2022-01-05 15:06] RenataGegaj commented on #100
I'm currently working on the website mockups, will share the progress here soon

[2022-01-05 17:02] RenataGegaj commented on #68
Yes this one is closed. We met with the Totem team and discussed outcomes from the heuristic review. Here are the explorations we did: https://www.figma.com/file/VUZywvcD3jzZviOyo5Vqw4/Expert-Review?node-id=0%3A1

[2022-01-05 17:02] #68 closed

[2022-01-05 17:04] RenataGegaj commented on #62
Closing this one also, here are the explorations we did after the interviews: https://www.figma.com/file/VUZywvcD3jzZviOyo5Vqw4/Expert-Review?node-id=0%3A1

[2022-01-05 17:04] #62 closed

[2022-01-05 17:07] #63 closed

[2022-01-05 17:12] #77 closed

[2022-01-05 17:15] RenataGegaj commented on #78
We conducted five interviews for feature coverage of Stackspin. I'm not able to share the figma link from our research report, as it contains personal data of participants.

[2022-01-05 17:15] #78 closed

[2022-01-05 17:16] #79 closed

[2022-01-05 17:17] #80 closed

[2022-01-05 17:17] #81 closed

[2022-01-05 17:22] RenataGegaj commented on #82
I won't be able to share any outcomes from the "App Information Architecture" phase, as it contains personal data of our research participants.

[2022-01-05 17:22] #82 closed

[2022-01-05 17:23] RenataGegaj commented on #83
We finalized the wireframes and most of them are already implemented, here you can find the details: https://www.figma.com/file/fJrY1fUhvkwPVTrYn9y5Hd/UI?node-id=0%3A1

[2022-01-05 17:23] #83 closed

[2022-01-05 17:27] RenataGegaj commented on #89
Here are the explorations and sitemap for the Stackspin website after the card sorting exercise: https://www.figma.com/file/c27e7vFlV90BVdc0pH3QLZ/Stackspin-Website-IA?node-id=0%3A1

[2022-01-05 17:27] #89 closed

[2022-01-10 12:34] RenataGegaj commented on #97
Closing this issue as we wrapped up this phase. Here is a part of our work on IA for the site: https://www.figma.com/file/EaNYS04s4mzjnRlCNwML0K/Untitled?node-id=0%3A1

[2022-01-10 12:34] #97 closed

[2022-01-18 17:13] #95 closed

[2022-01-20 15:19] ergishkelzeni opened #108 "1. Identity Exploration"

[2022-01-20 15:28] ergishkelzeni opened #109 "Illustration System"

[2022-01-20 15:32] ergishkelzeni opened #110 "3. Illustrations Composition | Completion"

[2022-01-20 15:54] ergishkelzeni commented on #108
In this first phase, we did several explorations for the visual identity of the new illustrations of the Totem Project courses and communicated with the project leads to determine the best direction. We ended up proposing three visual directions for the illustrations, all scalable regarding the number of courses that Totem Project offers.

The three proposed directions consist of the design of thr

[2022-01-21 16:37] elioqoshi commented on #92
@rudolfburgaj since this went into the mockup stage, this can be closed, right?

[2022-01-21 16:37] #92 closed

[2022-01-21 16:43] rudolfburgaj commented on #90
A quick status update. The UI design for the web version is completed. Next, I will prepare the mobile version in the following days and prepare it for the implementation.

[2022-01-21 20:17] rudolfburgaj commented on #92
Yes, that's correct. Closing it now!

[2022-01-21 20:17] rudolfburgaj commented on #92
Already closed. Great!

[2022-01-27 15:52] ergishkelzeni commented on #109
After deciding on the visual direction ([more information here](https://github.com/uracreative/works/issues/108)) for Totem's illustrations, we built an illustration system using Figma components and variants. This system contains more than 130 unique elements and 15 different types of backgrounds, offering a lot of possible combinations. This way, everyone can create new illustrations just by dra

[2022-01-28 12:24] rudolfburgaj commented on #90
As promised, here's the mobile version, ready for implementation:
https://www.figma.com/file/fJrY1fUhvkwPVTrYn9y5Hd/UI?node-id=826%3A6623

[2022-02-07 16:08] ergishkelzeni commented on #110
After setting [the visual direction](https://github.com/uracreative/works/issues/108) and building [the interactive illustrating system](https://github.com/uracreative/works/issues/109) for Totem's courses, we designed and provided the compositions for all unique courses Totem offers, including 24 editable covers.

The designed covers can be found [here](https://www.figma.com/file/VHFhSB25JIDIrfeO

[2022-02-16 23:41] RasheedAZ commented on #94
Hi. These are beautiful. Thanks for your amazing work. I'm using CalyxOS but these wallpapers did not come with it when I installed it. Is it possible to make them available here or point me in the right direction?

[2022-02-17 08:49] elioqoshi commented on #94
Thanks for checking in! We will add them soon to our repo and let you know :)

[2022-03-04 10:44] RenataGegaj commented on #100
I wrapped up my work on the wireframes, you can find the work here: https://www.figma.com/file/YsDJtbh70NyIfwfZtdGQmB/CCT-Website?node-id=0%3A1

[2022-03-04 10:44] #100 closed

[2022-03-04 10:45] #73 closed

[2022-03-04 10:47] RenataGegaj commented on #72
We wrapped up this phase. Not sure if I can share the link here publicly @elioqoshi?

[2022-03-04 10:48] RenataGegaj commented on #74
We wrapped up this phase. We shared two pdf heuristic reports with the Thunderbird team.

[2022-03-04 10:48] #74 closed

[2022-04-19 12:09] RenataGegaj opened #111 "Makhno UX: Stakeholder Interviews"

[2022-04-19 12:11] RenataGegaj opened #112 "Makhno UX: User Journeys, persona, user stories"

[2022-04-19 12:18] RenataGegaj opened #113 "Makhno UX: Wireframes"

[2022-04-19 12:20] RenataGegaj opened #114 "Makhno UX: User Interviews/Testing"

[2022-04-19 12:25] RenataGegaj opened #115 "Makhno Branding: Briefing / Brand Form Results"

[2022-04-19 12:26] RenataGegaj opened #116 "Makhno Branding: Logo / Visual Identity proposals presentation"

[2022-04-19 12:27] RenataGegaj opened #117 "Makhno Branding: Visual Guides"

[2022-04-19 12:27] RenataGegaj opened #118 "Makhno Branding: Deliverables (Logo, Banners etc)"

[2022-04-19 12:28] RenataGegaj opened #119 "Makhno UI: Desktop Mockups"

[2022-04-19 12:29] RenataGegaj opened #120 "Makhno UI: Mobile Mockups"

[2022-04-19 12:29] RenataGegaj opened #121 "Makhno UI: Clickable Desktop Prototype"